[2015-08-03 20:47] ericfowler303 opened #1 "Remove additional registry keys"
![clfwb41usaakeki png large](https://cloud.githubusercontent.com/assets/8892211/9047324/6b29f4f8-39ee-11e5-9bc5-54a1492e42ce.png)
These might be some extra registry keys to remove in addition to the current set.

[2015-08-03 22:33] W4RH4WK opened #2 "Doing a similar thing"
I started a similar project a few hours ago, you might want to have a look at it and see if you can scavenge some things.

https://github.com/W4RH4WK/Debloat-Windows-10

[2015-08-03 23:12] 10se1ucgo commented on #2
Ah! I knew I was missing something.

I'll work on Windows Defender and OneDrive in a couple days.

Thanks for this.

[2015-08-03 23:13] 10se1ucgo commented on #1
I'll look into these.

[2015-08-03 23:24] W4RH4WK commented on #2
I am still far from having a complete collection, do note that i haven't found time for extensive testing.

[2015-08-05 02:22] harvestry-of-ghosts opened #3 "Offenders"
I've noticed traffic to MS domains from all of the following. If not already included maybe you can add them to be blocked in some manner:

taskhostw.exe
CompatTelRunner.exe
SearchUI.exe
sihclient.exe
wermgr.exe
wsqmcons.exe

Also, does your app disable/delete all three of the following?

Diagnostics Tracking Service
Geolocation Service
Windows Error Reporting Service

[2015-08-05 02:31] 10se1ucgo commented on #3
It only disables/deletes Diagnostics Tracking Service.
The others I'd prefer not to touch, the Error Reporting Service especially

[2015-08-05 02:57] RailsCod3rFuture opened #4 "ASP.NET IIS Service Issue?"
I used your tool earlier today, and I was wondering if it had anything to do with Visual Studio not being able to connect to IIS services. Let me know if there are IIS settings related to your strategy being disabled. Thanks.

I'm getting this message "Unable to connect to the configured development Web Server"

[2015-08-05 03:50] 10se1ucgo commented on #4
I don't believe there is, but what you can try is to go to

    C:\WINDOWS\System32\drivers\etc

And open the hosts file and clear all of the entries.

[2015-08-05 13:35] maci0 commented on #2
maybe you should work together ;)

[2015-08-05 14:27] noorus opened #5 "Hosts file won't redirect the IP addresses in that telemetry list..."
...Since it's only used for resolving hostnames. Just saying.

[2015-08-05 14:38] W4RH4WK commented on #2
We'll both benefit from using the same settings but while @10se1ucgo will probably advance his python based GUI tool i will stick to plain Powershell scripts.

[2015-08-05 17:25] 10se1ucgo commented on #5
Yeah I know, I didn't create the list, got it from the MDL forums. I'll probably remove them next build.

[2015-08-05 17:25] #5 closed

[2015-08-06 06:17] celendis opened #6 "Request to revert changes back to Microsoft default"
I applaud these efforts, and I do not want to diminish anything that you are doing. However, there may be unforseen cases that may be better handled by reverting these settings back to the Microsoft defaults.

[2015-08-06 07:22] NetworkPro opened #7 "IP blocking null routing (not hostname)"
The tool tries to block IPs through hosts file which does not work.

The IPs can be blocked by routing them to On-Link "0.0.0.0" like this:

route -p add 65.55.108.23 MASK 255.255.255.255 0.0.0.0
route -p add 65.39.117.230 MASK 255.255.255.255 0.0.0.0
route -p add 23.218.212.69 MASK 255.255.255.255 0.0.0.0
route -p add 134.170.30.202 MASK 255.255.255.255 0.0.0.0
route -p add 137.116.81.24 MASK 255

[2015-08-06 09:24] PeterVisscher opened #8 "ELANTPCfg not working anymore"
After installation and restarting the computer several times i get this message at start up,
ELANTPCfg not working anymore. I then close the message and the computer continues too load fine it seems.

Edit: This message also pops up when i wake up the laptop from sleeping !

Edit 2: Installation report, everything selected and used disable.

Telemetry key succesfully modified.
2nd Telemetry key su

[2015-08-06 15:19] 10se1ucgo commented on #7
Yep someone has mentioned this, however the list I used was simply generated from a hosts file I found on the MDL forums. I'll look into this

[2015-08-06 15:19] #7 closed

[2015-08-06 15:19] #3 closed

[2015-08-06 15:20] 10se1ucgo commented on #6
There should never be a case where enabling diagnostic tracking should "fix" anything. If you need to revert these, look into the source code and do the opposite of what it does.

[2015-08-06 15:20] #6 closed

[2015-08-07 18:25] 10se1ucgo commented on #8
The program doesn't delete the DLL, simply the service that uses it.

As for ELANTPCfg, I have no clue what that is and this program probably has nothing to do with it.

[2015-08-07 18:25] #8 closed

[2015-08-07 18:26] 10se1ucgo commented on #4
No response? Closing.

[2015-08-07 18:26] #4 closed

[2015-08-08 06:56] Petrouchka opened #11 "A Trojan in .exe ?"
https://www.virustotal.com/fr/file/0aca5aaa66a8029d533415b104348cda0c45775567a371585c6b5596a965c168/analysis/1439015508/

[2015-08-08 17:13] Agazed commented on #11
This program has to write/read/delete to system files, which is common behavior of a trojan, causing some AV's to think it's a trojan.

[2015-08-08 18:09] 10se1ucgo commented on #11
@Agazed is correct.

If you're still skeptical, you can unfreeze/decompile the exe with pyinstaller and personally inspect the code.

[2015-08-08 18:09] #11 closed

[2015-08-09 01:55] deadscreem opened #12 "DiagTrack log and service."
The short name for "Diagnostics Tracking Service" is actually "DiagTrack".

The problem happens on the first run and when selecting everything. It tries to clear and lock the "DiagTrack" log before it stops and disables the "DiagTrack" service. So it fails to clear the log because it's still in use. You have to stop the "DiagTrack" service before clearing the log.

Also, you may want to look into

[2015-08-09 11:53] Owyn opened #13 "adding IPs to hosts file is useless, did you know?"
you can't remap an IP to IP in the hosts file, but I still saw your code try it. So it won't block those IPs, false hope.

[2015-08-09 16:12] CrisBRM commented on #13
True. I take it it's not possible to use a script to add those IPs to the windows firewall.

[2015-08-09 16:24] qgustavor commented on #13
The HOSTS file *isn't a firewall*, AFAIK it's a overwrite file over the normal DNS queries. In the other hand the Windows Firewall can block IPs, hostnames and ports. It can be scripted using `netsh advfirewall firewall add rule`.

[2015-08-09 16:25] CrisBRM commented on #13
@qgustavor

That's what I wanted to know. So it can be fixed after all.
In fact, it'd be a considerably better option. Even for certain named domains.

[2015-08-09 16:37] 10se1ucgo commented on #13
If you'd people actually read closed issues, you would've seen that people have said these 2 times. My response has always been:

Yes, I know, I got the list from the MDL forums and didn't really care about the IPs. I'll remove them and add more domains in the next update.

[2015-08-09 16:37] #13 closed

[2015-08-09 16:38] 10se1ucgo commented on #12
Thanks, I'll look into this.

[2015-08-09 16:45] Talyrius commented on #13
Perhaps you should leave the issue open until it's resolved—it'll likely be brought up again otherwise.

[2015-08-09 17:12] 10se1ucgo commented on #13
Someone submitted a pull request and I merged it, it's resolved.

[2015-08-09 21:00] #12 closed

[2015-08-09 21:53] MajidCS opened #17 "Trojan in your app"
I find Trojan !!

https://www.virustotal.com/en/file/0aca5aaa66a8029d533415b104348cda0c45775567a371585c6b5596a965c168/analysis/

[2015-08-09 22:12] 10se1ucgo commented on #17
I find idiot !!

If you think there is a Trojan, reverse the binary with pyinstxtractor and read the code for yourself and think twice about being a moron.

[2015-08-09 22:12] #17 closed

[2015-08-10 15:50] ATouhou commented on #17
lool it's called heuristics Majid.  It react to things that other trojan/etc. does.
Like adding/editing certain registry strings,  copying/editing files in "suspect folders" etc.
Hope you understand this, else feel free to ask

[2015-08-10 16:09] MajidCS commented on #17
10se1ucgo: You talk with users , they don't have any experience .

when they get this message form this site :
https://www.virustotal.com/en/file/0aca5aaa66a8029d533415b104348cda0c45775567a371585c6b5596a965c168/analysis/

They will not immediately use the application .

It must be your response to people decently.

[2015-08-10 16:13] 10se1ucgo commented on #17
If you seriously believe the response of 2 no-name AVs with, I quote, "generic and broad-reaching signatures on a packing utility" then you shouldn't be using this tool.

@ATouhou has provided a good enough explanation, if you still believe it's a Trojan, don't use it.

[2015-08-10 18:30] piqus commented on #17
Guys, could you please stop arguing and send a notice to AV Company for **false report**? Both AV programs aren't very well-known and I am sure their heuristics are not excellent also. It would be great if @10se1ucgo as code/repo owner will spend his valuable few minutes to write an e-mail about this "heuristics-misunderstanding" problem. Could you? :wink:

[2015-08-11 22:44] Morthawt opened #18 "It's not reverseable..."
So far from my tests in VMware (glad I tried it there and not on my main PC) this is not reverseable. Please add the ability to disable all the tracking and then to re-enable the tracking if needed.

[2015-08-11 22:55] 10se1ucgo commented on #18
The program's name is "DisableWinTracking"

If for whatever stupid reason you want to re-enable it, you're looking in the wrong place. Read the code and do the opposite of it.

[2015-08-11 23:00] Morthawt commented on #18
The point is sometimes things break. If you make a technical program like this which alters critical system settings it is customary to provide an ability for the user to undo what they did. Else a "normal" user who downloads this with the hopes of becoming more private and secure, who later finds out important things like feedback apps and other things no longer work then have no idea how to make

[2015-08-11 23:02] 10se1ucgo commented on #18
Undoing it is extremely easy, just remove all of the entries in C:\Windows\System32\drivers\etc\hosts

None of the other fixes will affect the examples you've given.

[2015-08-11 23:19] Morthawt commented on #18
Well it was only an example. My point was there are always possible unforeseen consequences for "tweaking" the operating system and the program used to tweak them should let the user untweak them. Like msconfig, people can make changes to the OS but they can also undo those changes. While I can alter a host file in my sleep "normal" users would have no hope of pulling it off easily or even realise

[2015-08-11 23:23] 10se1ucgo commented on #18
Just for you, I'll make a small tool to do it. But I won't offer support for it.

[2015-08-11 23:29] Morthawt commented on #18
Thanks. If it is something a user can choose to download the same way they can download your tool and it gets updated to reflect undo-operations of what ever newer upgrades can do to the system I think it will be incredibly helpful for users and save you from a lot of potential negativity, as this tool is starting to be reported by news websites which as you might expect will draw in far more norm

[2015-08-12 18:03] CrisBRM opened #19 "Remove hosts file tweaking"
http://localghost.org/posts/a-traffic-analysis-of-windows-10

[2015-08-12 18:10] ATouhou commented on #19
Wow... That's pure evil

Thnx 4 info Cris
Den 12/08/2015 8.03 PM skrev "Cris" <notifications@github.com>:

[2015-08-12 18:18] mr-flibble commented on #19
Hello, thank you for this text.
I just want to say that I dont belive http://aeronet.cz/ (source) - This web is Rusin/Putin propaganda
(Czech Security Information Service say so) - https://cs.wikipedia.org/wiki/Aeronet.cz

Did anyone else who not get paid from Kremlin analyzed Windows 10?:-)
PS: sorry for bad english.

[2015-08-12 18:55] 10se1ucgo commented on #19
The only IPs that are white listed in the DNS dll are update servers, activation servers, support and MSDN.

[2015-08-12 18:55] #19 closed

[2015-08-12 19:44] Mrsevic opened #20 "Search not working"
After running the delete functionality search functionality is not working anymore.

[2015-08-13 13:41] nathan-alden commented on #18
Why the hostility? This request is completely standard, and all the reasons given for you to provide it are perfectly justified. Calm down; no one's attacking your ego, or the work you've already done. I agree with the need to undo the changes; if it's so simple to do, it should be simple to code, no?

[2015-08-13 14:24] RaedsLab commented on #18
:+1:  Users want to undo anything that could have broke their system. This is pretty standard.

[2015-08-13 14:24] Talyrius commented on #18
Indeed.

[2015-08-13 14:51] ultramancool opened #21 "Start menu search "threshold.appcache" is still being allowed"
This sends a wealth of potential tracking info including a unqiue machine identifier. This occurs every time you search on the start menu, even with all privacy options set and DisableWinTracking run.

https://up1.ca/#Dpl7PlGX6DHUqQ8B9p9oAQ

[2015-08-13 15:25] simplypeachy opened #22 "Consquences of blocking some host names"
I do a lot of work with tracking/advert blocking so would like to share my experiences.

atdmt.com
Sometimes used by web sites to serve their own internal links. This is third-party tracking without a doubt, but blocking view.atdmt.com may stop users from browsing a web site that employs this method. For this reason, I (begrudgingly) do not block view.atdmt.com. Ironically, the example I have reco

[2015-08-13 15:45] urras commented on #2
@W4RH4WK @10se1ucgo I recently worked on [similar stuff](https://github.com/hahndorf/Set-Privacy/issues/2) in [hahndorf/Set-Privacy](https://github.com/hahndorf/Set-Privacy). You might find a few helpful reg keys in there

[2015-08-13 16:00] seatsea commented on #21
Could it be because of this setting? https://up1.ca/#4jZxBPIBqpM83AHhkBhFLQ

[2015-08-13 16:18] W4RH4WK commented on #2
@urras thanks for the link, will have a look at it later.

[2015-08-13 16:35] 10se1ucgo commented on #18
It's an open source project, you wan't to reverse something? Read the code and write it yourself. I'm not doing any favors.

[2015-08-13 16:53] ultramancool commented on #21
I have this turned completely off and disabled via GPO too. Note that it doesn't send the search query but does send a whole bunch of other identifying info.

https://up1.ca/#roAfNVbXnO9gFGygm6iKRQ

I brought this problem up a few days ago on Hacker News, now Ars Technica is also reporting that Windows fails to obey this setting.

http://arstechnica.co.uk/information-technology/2015/08/even-when-t

[2015-08-13 16:56] ocdtrekkie commented on #18
@10se1ucgo Some friendly advice: It's really cool you're a 13-year-old, because a lot of smart people are paying attention to your project! I found your project through Hacker News, which is heavily perused by many of the smartest people in Silicon Valley!

Many open source authors choose a very narrow scope for their project and reject requests for large additional work (or they invite other user

[2015-08-13 17:42] ImDevinC opened #23 "AllowTelemetry can't be disabled in non-server OS"
From Microsoft's Policy CSP at https://msdn.microsoft.com/en-us/library/windows/hardware/dn904962(v=vs.85).aspx

This isn't necessarily an issue with your software as it's not something you can fix due to how MS designed it, but you may want to update wording so people are a bit more aware.

<img width="681" alt="screen shot 2015-08-13 at 12 40 48 pm" src="https://cloud.githubusercontent.com/asset

[2015-08-13 17:45] nathan-alden commented on #18
For anyone reading this issue: I've rewritten this project in PowerShell and added undo capabilities. You can find it here: https://github.com/nathan-alden/windows-10-tracking

[2015-08-13 19:16] piqus commented on #18
+1 @nathan-alden

[2015-08-14 00:00] 10se1ucgo commented on #23
Yeah, I know. It's why selecting telemetry auto enables the host modification, as the hosts mod works as a decent workaround. I'll change the tooltip to reflect on this.

[2015-08-14 00:02] #23 closed

[2015-08-14 00:04] 10se1ucgo commented on #22
I'm working on a 2.0 rewrite, I'll probably add these to a button of the sort you suggested.

As for the update domains/error reporting domains, all the important ones are whitelisted (along with MSDN and activation domains) in the DNS dll.

[2015-08-14 00:05] 10se1ucgo commented on #18
@nathan-alden I'll look into those and provide similar functionality, thanks.

[2015-08-14 03:50] TheDrink commented on #20
Can you please go into more detail as to what is wrong so I can fix the code?

[2015-08-14 03:56] rythmshifter commented on #18
this actually throttled my net connection to 1mb/sec from the 5mb/sec I was getting previously.  removing the entries in the HOSTS file has not changed anything.  any other ideas what might have broken?

[2015-08-14 16:31] ReklatsMasters commented on #1
and this task
`\Microsoft\Windows\DiskDiagnostic\Microsoft-Windows-DiskDiagnosticDataCollector`

[2015-08-14 18:29] Owyn commented on #22
Yes, a button or checkbox for "soft mode" might be good, to leave upates or error reporting functioning for example.

[2015-08-14 18:34] Owyn opened #25 "more domains to block"
http://aeronet.cz/news/analyza-windows-10-ve-svem-principu-jde-o-pouhy-terminal-na-sber-informaci-o-uzivateli-jeho-prstech-ocich-a-hlasu/
and here http://habrahabr.ru/company/pt/blog/264763/
name some more webhosts to where windows 10 send info

[2015-08-14 19:53] mr-flibble commented on #25
Hello. I just want to say that I dont belive http://aeronet.cz/ (source) - This web is Rusin/Putin propaganda
(Czech Security Information Service say so) - https://cs.wikipedia.org/wiki/Aeronet.cz

[2015-08-15 08:40] jardicc commented on #25
I am also from the Czech Republic and I think that this site is crap.

I turned off the all tracking in Win Control panels and investigate all communication via Fiddler web debugger and an hour watching I could not find anything suspicious.

Or Fiddler can not reveal it? Through which communication protocols it works?

[2015-08-16 13:32] odan opened #28 "Blocking IP addresses?"
Blocking MS hostnames by using the "hosts" file is ok, but how to block this MS IP addresses?

2.22.61.43
2.22.61.66
157.56.106.189

[2015-08-16 13:36] HristoKolev commented on #28
Why can't you just add them to the hosts file? What is the problem?

[2015-08-16 13:41] W4RH4WK commented on #28
@HristoKolev because it does not work as far as I know. The hosts file is used for DNS lookup, apparently there once was a way to block IPs by adding something like `0.0.0.0 1.3.3.7` (whereby `1.3.3.7` is the IP to block). I tried that in Win10 and it did not work. Maybe I am holding it wrong or we need another way to block traffic to certain IP addresses. Windows Firewall would be an option but t

[2015-08-16 13:55] HristoKolev commented on #28
Yes. You are right. I had a temporary lapse in my understanding of what the hosts file does.

[2015-08-16 14:03] HristoKolev commented on #28
BTW there are lots of ip addresses that are being pushed in the hosts file by the code and are not blocked by other means.

[2015-08-16 14:04] odan commented on #28
The hosts file contains only the mappings of IP addresses to host names and not IP addresses to IP addresses.

The following command creates an outbound rule to block all traffic from the local computer to a IP address like "2.22.61.43"

netsh advfirewall firewall add rule name="Block MS IP Address 2.22.61.43" dir=out protocol=any remoteip="2.22.61.43" profile=any action=block

Test if it's workin

[2015-08-16 17:48] lallousx86 commented on #28
So, to implement this is basically a matter of going over all the host names in hosts.txt, resolve names to ip addresses and run the netsh command.

[2015-08-16 17:58] HristoKolev commented on #28
Something like that. The thing is that when I wrote about hosts.txt having ip addresses I was talking about the addresses that the release version put in my hosts file. Apparently someone removed them after that along with duplicated hosts names. So, here are the addresses that where added by the release version:

65.55.108.23
65.39.117.230
23.218.212.69
134.170.30.202
137.116.81.24
204.79.197.200

[2015-08-16 18:39] W4RH4WK commented on #28
I now create a new Firewall rule blocking outbound traffic to the IPs. Domains are still redirected to `0.0.0.0` via the hosts file. Seems to work (for now).

[2015-08-16 20:07] lallousx86 commented on #28
Ok, I implemented it: https://github.com/10se1ucgo/DisableWinTracking/pull/29

[2015-08-17 19:03] ZachR0 commented on #21
Any updates on this? This is pretty unsettling.

[2015-08-18 10:52] Tapaburakus opened #33 "Start menu stopped working"
First of all let me thank @10se1ucgo  for making this software.

After restarting my computer the start menu and taskbar stopped working, any ideias why? And anyone know how to fix it?
Thanks

[2015-08-18 16:21] x-a-n-a-x commented on #28
Hi all.

Windows 10 is getting scarier each day.

https://www.microsoft.com/en-us/servicesagreement
Check in section *Updates to the Services or Software, and Changes to These Terms*.

To sum up: they reserve the right to scan your computer and send you patches and updates for pirated games or softwares..

This is why this tool (DisableWinTracking) is really needed to help users protect their live

[2015-08-18 16:27] stockmaster commented on #28
@x-a-n-a-x you miss reading, those terms only apply for Microsoft Services. Which would apply to any microsoft games i guess. Not ALL games or software. google it up, lots of in depth comments on it.

[2015-08-20 00:48] simplypeachy opened #37 "Blocking Akamai - false positives"
One needs to exercise extreme care when blocking generic host names at Akamai. I have logs of fetching from a248.e.akamai.net for web content for the web site http://www.johnlewis.com/ , a UK retailer. It looks like Amazon, eBay and IMDB may also use it to serve content. I would be surprised if all of the other a[0-9].*akamai host names were not used elsewhere as well; the host names probably poin

[2015-08-20 00:50] 10se1ucgo commented on #37
Yep, this is removed in 2.0.

[2015-08-20 01:49] 10se1ucgo commented on #37
2.0 pushed

[2015-08-20 01:49] #37 closed

[2015-08-20 01:50] 10se1ucgo commented on #22
Fixed in 2.0

Now there is an "extra hosts" checkbox.

[2015-08-20 01:50] #22 closed

[2015-08-20 07:38] KoalaBear84 commented on #20
I've had the same problem. But I think it is not related to DisableWinTracking.

I always disable "Windows Search" service. Looks like since Windows 10 it is ALSO used by the Start Menu.......... Bummer. So if you enable this again, the start menu search will work. Unfortunately "SearchIndexe.exe" will be running again. I don't need my files to be indexed as I use "Everything" for that purpose..

[2015-08-20 16:24] 10se1ucgo commented on #20
Search works for me.

[2015-08-20 16:24] #20 closed

[2015-08-20 16:26] 10se1ucgo commented on #33
Not having this issue, can't be related to the program as it doesn't modify anything with the taskbar/search/start menu.

[2015-08-20 16:26] #33 closed

[2015-08-20 17:24] Red5d commented on #28
@stockmaster , It's a slippery slope though. This could potentially be used in the future as an excuse for them to do more scanning and modification of things on your computer beyond just MS software/services.

[2015-08-20 20:41] 10se1ucgo commented on #18
Hello all, I can finally say that being able to revert everything is now implemented in c286ab3fa81484d244a95bff8688f34bfd149afe

I'll be uploading a build with the new feature in a couple of minutes.

[2015-08-20 20:41] #18 closed

[2015-08-20 20:43] Morthawt commented on #18
Very nice indeed. Such revert/undo functionality is truly crucial to the success of a program like this and the protection of it's users in case of strange effects.

[2015-08-20 20:49] 10se1ucgo commented on #18
Apologies to everyone for my previous behavior, the build is now up and you can download it [here](https://github.com/10se1ucgo/DisableWinTracking/releases/tag/v2.1).

[2015-08-20 21:43] softpediaeditor opened #39 "DisableWinTracking 2.1 shows 2.0 in 'About'"
DisableWinTracking 2.1 shows 2.0 in 'About'. Which is the right version?:)

[2015-08-20 21:58] 10se1ucgo commented on #39
blegh

[2015-08-20 21:59] #39 closed

[2015-08-21 11:27] th0m1 opened #40 "certain parameters are managed by your company"
i ran the program and i have this on my privacy notification :
certain parameters are managed by your company
how i can resoleve it ?

when i go to confidentiality > Comments and Diagnostics  > diagnostic data and use i can't set it to "complete (recommanded)" because it don't save my changes
what i should modify in the registry to set it back ?

[2015-08-21 13:12] th0m1 commented on #40
i solved the prolem
To make the change in the Group Policy, do the following:

    Tap on the Windows-key, type gpedit.msc and hit enter.
    Navigate to Computer Configuration > Administrative Templates > Windows Components > Data Collection (It may be listed as Data Collection and Preview Builds).
    Set Allow Telemetry to Off if you are using an Enterprise account, to Basic if you are not.

To

[2015-08-21 14:57] SuperMasterBlasterLaser commented on #40
Is it possible to include your solution to this application?

[2015-08-21 15:07] pendraghon opened #41 "Win 10 Updates"
I have been following your development and am impressed with it.  I have closed all of Win10's privacy, sharing etc... settings that are wide open to default and have shut down auto updating.  Is there any evidence that their updates also patch the issues your scripts fix?

[2015-08-21 18:55] 10se1ucgo commented on #40
It's already included. Press the "Revert" button in version 2.1 and above.

[2015-08-21 18:55] #40 closed

[2015-08-21 19:00] 10se1ucgo commented on #28
I'm working on it

[2015-08-21 20:50] NetworkPro commented on #28
please do not use 0.0.0.0 and 127.0.0.1 to block with hosts file as these are wrongfully representing all network interfaces and localhost in some programs that resolve them like this

use 127.0.0.0 :)

[2015-08-21 21:02] 10se1ucgo commented on #28
That makes absolutely no sense. Pretty much everywhere I've looked 0.0.0.0 was suggested. Unless you give me a good reason, my answer is no.

[2015-08-21 21:12] NetworkPro commented on #28
Sorry.

Please do not use in hosts file blocking by 0.0.0.0 or 127.0.0.1.

There are apps that try to resolve these - 0.0.0.0 as "all IPv4 interfaces" and 127.0.0.1 as "the local host". Such an app is Process Explorer among others. The blocked hosts start appearing in the app gui where 0.0.0.0 and 127.0.0.1 are used. This interferes with the functionality and usability of such apps.

Please use 12

[2015-08-23 18:19] 10se1ucgo commented on #41
Not that I've seen.

[2015-08-23 20:45] 10se1ucgo commented on #28
@NetworkPro done.

[2015-08-24 00:11] #28 closed

[2015-08-24 00:11] 10se1ucgo commented on #28
IP blocking now implemented, v2.2 will be up to download shortly.

[2015-08-24 01:45] lallousx86 commented on #28
Good work.

[2015-08-24 17:52] #41 closed

[2015-08-24 17:52] #25 closed

[2015-08-24 21:25] RowanDDR opened #44 "HOSTS file getting messed up with 2.2"
When I ran 2.2, it appeared to delete existing lines in my HOSTS file!

Like a lot of people I get my HOSTS file from here: http://winhelp2002.mvps.org/hosts.htm (it blocks loads of adverts etc).

After running your run.exe, all the hundreds of lines from the MVPS HOSTS file are now deleted!

e.g.

has now become just this:

[2015-08-24 21:28] 10se1ucgo commented on #44
Unreadable. Provide me a download to your hosts file so I can attempt to recreate this.

[2015-08-24 21:36] RowanDDR commented on #44
I'm not just using hosts file to block ads, I'm using it to block programs that call home too. Windows 10 isn't the only one.

The hosts file can be downloaded from the link I provided. It is this:
http://winhelp2002.mvps.org/hosts.txt

Thanks for looking into this and creating this program by the way!

[2015-08-24 21:45] 10se1ucgo commented on #44
OK, confirmed that its broken.

I believe it has to do with my program erasing every line that begins with 0.0.0.0 for some odd reason, I'm looking into it now.

[2015-08-24 22:03] 10se1ucgo commented on #44
Ahhh, I'm an idiot.

I added 0.0.0.0 to the list, and forgot to exclude it in the reversion process, so it assumed everything with 0.0.0.0 was a tracking domain added by my program. I'll be pushing a fix soon.

[2015-08-24 22:13] 10se1ucgo commented on #44
Fixed via 0d1ac5ed516d5bb2a9f69e17334347651bed4d7f

Download: https://github.com/10se1ucgo/DisableWinTracking/releases/tag/v2.2.1

[2015-08-24 22:13] #44 closed

[2015-08-25 09:13] NetworkPro opened #45 "IPs blocking 0.0.0.0 reverse resolving blocked hostnames in place of local hostname"
on further testing 0.0.0.0 returns quicker an error of host not found

same works with 0.0.0.1 and process explorer functionality remains OK :)

[2015-08-25 16:48] StexoO opened #46 "The gif in the readme seems to be outdated"
:trollface:

[2015-08-25 19:36] #46 closed

[2015-08-25 20:14] thenoncoder commented on #21
I've edited my hosts file, disabled all the privacy-invading services, unchecked all the stuff I could uncheck in the settings app, and ran all sorts of batch files. Do I still need to run this app?
I mean, I haven't done anything in regards to the registry, so, maybe it's better than manually going through all the registry keys.

[2015-08-25 22:44] RowanDDR opened #47 "Add ssw.live.com to hosts blacklist?"
Add ssw.live.com to hosts blacklist?

Quote:

Source: http://arstechnica.co.uk/information-technology/2015/08/even-when-told-not-to-windows-10-just-cant-stop-talking-to-microsoft/

[2015-08-26 14:47] leonghui opened #48 "[Idea] Clean removal of system apps (bypass error 0x80073CFA)"
Hi,

I would like to share my findings. The error 0x80073CFA can be bypassed by toggling the "IsInbox" column for the system package in the Package table in %ProgramData%\Microsoft\Windows\AppRepository\StateRepository-Machine.srd. It is an SQLite database that can be viewed and edited with any SQLite tool after stopping the StateRepository service and taking over the file ownership.

I managed to

[2015-08-26 15:41] leonghui commented on #48
Some steps and screenshots:
1. Try removing the system package using **Remove-AppxPackage**
![before](https://cloud.githubusercontent.com/assets/6092315/9498120/ca8d62b8-4c4a-11e5-9067-57d1005daec5.PNG)

2. Run **cmd** as SYSTEM using **PsExec** (https://technet.microsoft.com/en-us/sysinternals/bb897553.aspx)
3. Copy *%ProgramData%\Microsoft\Windows\AppRepository\StateRepository-Machine.srd* to th

[2015-08-26 17:28] #47 closed

[2015-08-26 17:28] 10se1ucgo commented on #47
Done.

[2015-08-26 17:29] 10se1ucgo commented on #45
Already done

[2015-08-26 17:29] #45 closed

[2015-08-26 17:30] 10se1ucgo commented on #21
@thenoncoder this is the wrong place to be asking that. If you already did everything then you don't need to, unless you want to just in case.

[2015-08-26 20:19] thenoncoder commented on #21
Does the app modify registry keys?
I tried it, and I'm not sure if it doe that.
I want to be sure all the telemetry crap is out of my pc.

[2015-08-26 20:22] 10se1ucgo commented on #21
Yes it does

[2015-08-26 20:24] thenoncoder commented on #21
Good.
A couple more batch files and I should be good.

[2015-08-26 21:39] 10se1ucgo commented on #48
Not sure how I'd do this programmatically. Any recommendations?

[2015-08-27 13:56] CryptXor opened #49 "Skype"
Please be noted that disabling the trackers using the host file will cause issues with Skype. Symptoms are observable if your client states in a group chat that "instant messaging is not available. <something about updating skype bla bla bla".

To fix look for the *.skype entries in the hosts file and the *message.live entry. Commenting/removing them will fix the problem :)

[2015-08-27 17:05] 10se1ucgo commented on #49
I'm not having this issue

[2015-08-27 19:05] thekot commented on #49
Today I had some weird Skype behavior. It just felt like Skype can't synchronize to some servers. I've tried to reproduce the issue on virtual box with and without hosts blocked. I removed blocked hosts and it did helped, Skype goes normal. Then I rewind virtual machine back to it's original state with hosts blocked and the issue seems gone. Maybe one of main Skype servers was down and it tried to

[2015-08-27 21:40] lencc opened #50 "Request: hosts in raw form"
Could you create a raw list of all the hosts blocked by your tool?
So the hosts could be merged with other sources as well (such as [StevenBlack amalgamated hosts file](https://github.com/StevenBlack/hosts/)).

[2015-08-27 22:27] 10se1ucgo commented on #50
Not on a computer right now so I can't do it, but if you can't wait just run the program and copy what it writes to the hosts file.

[2015-08-28 00:37] 10se1ucgo commented on #50
[Here](https://gist.github.com/10se1ucgo/fcb774d781a66ea9d31f)

[2015-08-28 00:37] #50 closed

[2015-08-28 00:48] StinkyMojo commented on #49
The OP is correct, I have reproduced this issue twice on two different machines now. I was able to install Skype only by reverting Block tracking domains, Block even more tracking domains, and Block tracking IP addresses.

[2015-08-28 01:07] 10se1ucgo commented on #49
Like I said, I'm not having issues and I can't reproduce it.

![unable to reproduce](http://i.imgur.com/Xg5gi8d.png)

I'll re-open this for now.

[2015-08-28 01:14] 10se1ucgo commented on #49
I've moved the skype domains from the normal list to the extra domain list for now, until I figure out which domain is causing the issue for you guys. Unfortunately I can't reproduce so this may take some time.

9d603d77cb38bc0c0c3e639131be79780b5a7658

[2015-08-28 01:15] StinkyMojo commented on #49
After I successfully re-ran your awesome app a few moments ago (thanks, by the way!), Skype has been working as it should. It seems as if you have to install Skype first blocking any domains.

[2015-08-28 02:33] 10se1ucgo commented on #49
It seems ui.skype.com may be connected to updates, I'll remove that as soon as I confirm it.

[2015-08-28 03:26] StinkyMojo opened #51 "Mail app/Outlook - Cannot add accounts"
Thanks for your great work!

![mail](https://cloud.githubusercontent.com/assets/14001433/9538478/dbb1c8ae-4cf9-11e5-9184-7aaee92bde08.png)

![outlook](https://cloud.githubusercontent.com/assets/14001433/9538479/dd1dfbd6-4cf9-11e5-8728-ca6785e3df93.png)

[2015-08-28 05:56] CryptXor commented on #49
@10se1ucgo s.gateway.messenger.live.com seems to be the major culprit. I just commented out all the *.skype.com ones. It seems to affect group-chats mostly :)

@StinkyMojo Nope. I tried and since it cannot contact the peering servers it breaks down rather quickly.

[2015-08-28 07:13] 10se1ucgo commented on #51
I'll look into this in the morning, thanks for the report.

[2015-08-28 12:02] thekot commented on #49
I did some more testing about the issue.

When ui.skype.com is blocked I wasn't able to install (with web installer) nor update Skype.

I do have a snapshot of virtual pc with clean hosts file and without Skype installed. When I do clean Skype install with s.gateway.messenger.live.com blocked I cannot see any group chats that I had created before. Seems group chats just not being synchronized. But

[2015-08-28 17:21] lencc commented on #50
Thank you!
If I'm right, blocking these domains shouldn't affect Windows 10 functionalities, but only protect privacy ([or at least try to](http://www.overclock.net/t/1569236/localghost-a-traffic-analysis-of-windows-10)).

[2015-08-28 19:25] 10se1ucgo commented on #51
Fixed in 168022e0062641347b4a10c2e1dbf7ca640bbfe2

Download v2.3 here: https://github.com/10se1ucgo/DisableWinTracking/releases/tag/v2.3

[2015-08-28 19:25] #51 closed

[2015-08-28 19:26] 10se1ucgo commented on #49
Fixed in 168022e0062641347b4a10c2e1dbf7ca640bbfe2

Download v2.3 here: https://github.com/10se1ucgo/DisableWinTracking/releases/tag/v2.3

Run the program and press "Fix Skype/Mail"

[2015-08-28 19:26] #49 closed

[2015-08-29 04:19] 10se1ucgo commented on #13
IPs are now blocked with the firewall.

[2015-08-29 10:16] Ovrclockd opened #53 "I have ideas..."
http://someonewhocares.org/hosts/
https://www.youtube.com/watch?v=n9tYLBNX4z8

Could we combine everyone's best work into your code and really stick it to Microsoft?

http://winaero.com/blog/how-to-disable-telemetry-and-data-collection-in-windows-10/

Another great article with what looks like more to add, look at the comments section as well...

[2015-08-29 13:23] Flosus opened #54 "Improve Hosts File error message"
Because of the rewrite my pull requests got closed.
But i think this is quit important:

Some Anti virus programs are blocking access to the hosts file. It should be noted in case of an inaccessible host file to check the running anti virus programs in the error message, because users may not expect this.

[2015-08-31 06:50] 10se1ucgo commented on #54
Error messages are now replaced by `logging.exception()`, so error messages that are printed should just explain something is wrong, with DisableWinTacking.log containing the detailed error.

[2015-08-31 06:50] #54 closed

[2015-08-31 19:19] RowanDDR opened #61 "UI idea"
Instead of checkboxes, why not make each setting a toggle, so that end users can clearly see which items have already been disabled, or are yet to be disabled. I realise this may require a lot of extra code in order to probe the condition(s) behind each setting, to see if they are already applied, but anyway I just wanted to put the idea out there and see what the author thinks.

Because at the mo

[2015-08-31 19:52] 10se1ucgo commented on #61
I have a clutter control function built in that checks if the user has already applied the Firewall/Hosts modification and prevents it from re-applying it without reverting it first, so that should be fine. As for your other idea, I don't see it happening in the foreseeable future but who knows, maybe.

[2015-09-01 15:12] mtomas7 opened #64 "Will tracking IPs be imported by other firewalls?"
Hi, thank you for doing this important work!

As I understand, the tracking IPs will be blocked only in Windows FW. But what happens when I install Comodo Internet Security? Is it usual that custom firewall would import settings from Windows FW, or it should be done manually?

[2015-09-01 15:44] ScottRFrost commented on #64
I'd also like an IP range list for my router / firewall :+1:

[2015-09-01 21:03] 10se1ucgo commented on #64
I'm not sure about imports for third party firewalls, but if you'd like to be sure [you can find a list of IPs here](https://gist.github.com/10se1ucgo/fcb774d781a66ea9d31f)

[2015-09-01 21:03] #64 closed

[2015-09-01 23:19] ScottRFrost commented on #64
These are hostnames (for a host file), not IP address ranges (for a router or firewall).  Here's what I'm rolling currently:

23.212.108.0/24
64.4.0.0/18
65.52.0.0/14
111.221.29.0/24
157.56.91.77
168.61.0.0/16
168.62.0.0/15

[2015-09-01 23:24] 10se1ucgo commented on #64
@mtomas7 did not ask for ranges.

I don't have any.

[2015-09-02 14:56] HappySkyPoodle commented on #22
how do we know you're not an NSA employee tricking us into re-enabling hidden backdoors

[2015-09-02 20:18] 10se1ucgo commented on #22
@HappySkyPoodle Because if you have any level of intelligence you can read the source code.

[2015-09-03 00:05] Ruined1 commented on #48
Assign this one to me, I'll do it.

[2015-09-03 00:40] 10se1ucgo commented on #48
@Ruined1 Added you as a collaborator and assigned you to the issue. Thanks for your work :)

[2015-09-03 00:42] Ruined1 commented on #48
It's an honor.

[2015-09-03 03:52] th3r3isnospoon opened #67 "IP's/Domains are not added to hosts file - error log attached"
Hello, the last rev prior to the latest release would work correctly (as in edit the host file) however the newer version does not. This is a win 10 64-BIT machine.  Thanks for working on a cool tool :)  Here are the errors:

[code]

[2015-09-03 03:59] 10se1ucgo commented on #67
Not near a computer but I will try to fix it tomorrow morning.

[2015-09-03 06:04] Ruined1 commented on #67
Ran into same issue with WD/WFS registry keys and onedrive filesync, also not available for troubleshooting at the moment.

[2015-09-03 10:33] Ruined1 commented on #48
@leonghui It can't be encrypted if you're able to access it, so it must not be sqlite?

[code]

[2015-09-03 14:09] 10se1ucgo commented on #67
Hmm, I'm not seeming to have this issue. Can anyone else try? Gonna put a cannot reproduce tag for now.

[2015-09-03 16:45] Ruined1 commented on #67
@th3r3isnospoon Are you running a cracked (non-paid) version of Windows 10? We're not microsoft, we don't care what you do, but it's an important question because tracking related services might already be disabled in those for obvious reasons...

[2015-09-03 16:50] Ruined1 commented on #61
@RowanDDR I could see how that would be a nice feature, but considering the amount of work to put in eye-candy instead of adding new features seems a later-game idea. Definitely keep it in mind if I run out of other tasks or just get cramped and want to work on something fun, but for now, with the clutter control @10se1ucgo did such an awesome job on, if you aren't sure which you already have, it'

[2015-09-03 16:52] th3r3isnospoon commented on #67
@Ruined1 No sir.  It is a legitimate copy of Windows 10.  I was thinking about the errors though.  Would those errors pop up if I had run a previous version of this program?  I did run the old version and press revert, then I ran the newer version of this program and those are the errors that came back.  The latest rev would not add the IP's/Domain's into the hosts file, but the older version prio

[2015-09-03 17:08] Ruined1 commented on #67
These two lines are correct, as you probably deleted the services with a previous revision, so they don't exist to modify:
[code]

I'm looking into the rest.

[2015-09-03 17:09] th3r3isnospoon commented on #67
@Ruined1 That would make sense, I did delete them with the previous revision.

[2015-09-04 00:57] 10se1ucgo commented on #67
@Ruined1 all of these error messages make sense. Except for the registry key error, I'll look into that later. As for the DiagTrack log, it makes sense because Python can't access the logger once it's cleared and locked because system has access denied to it, only the user himself can modify it.

[2015-09-04 07:10] Ruined1 commented on #67
@10se1ucgo

I Ran the latest commit, with all checks and DISABLE services, on a test machine with a brand new Windows 10 clean install.

I hope this is useful to you, as I can now easy provide it in the future from a clean install every time.

Console Output:
* Registry: Unable to modify Service dmwappushsvc key.
* Registry: Service DiagTrack key successfully modified.
* Services: dmwappushsvc una

[2015-09-04 07:36] Ruined1 commented on #67
Latest test on clean install 64-bit Win 10 shows aces:
* Services: Diagnostics Tracking Service successfully stopped.
* Services: Diagnostics Tracking Service unable to be stopped.
* DiagTrack Log: Succesfully cleared and locked.
* Done. It's recommended that you reboot as soon as possible for the full effect.
* If any errors were found, please make a GitHub ticket with the contents of DisableWinT

[2015-09-04 07:39] Ruined1 commented on #2
I added the suggested improvements from Set-Privacy several commits ago.

Closing and marking complete.

[2015-09-04 07:39] #2 closed

[2015-09-04 07:43] Ruined1 commented on #53
Everything related to privacy from these sources is already implemented. We may expand to some other features, but in this project's current infant state, the rest would be beyond the scope of the project. We'll always have this to reference though. Thank you.

[2015-09-04 07:43] #53 closed

[2015-09-04 07:44] #61 closed

[2015-09-04 07:54] Ruined1 commented on #21
SearchUI.exe is located at C:\Windows\SystemApps\Microsoft.Windows.Cortana_cw5n1h2txyewy

I am currently creating a way to remove some system apps (yes, even the ones that shouldn't be able to) thanks to participation in https://github.com/10se1ucgo/DisableWinTracking/issues/48

I know your issue was opened first, but as important information was discussed in the above issue, and this one has gone

[2015-09-04 07:54] #21 closed

[2015-09-04 14:30] Hewyn opened #68 "Does not seem to work with french OS (v2.4)"
Hi there!

I have a French laptop and here is what happens when I try to use your program v2.4:

last line means : the specified file is missing

last line means: the service has not been launched

last line means: the specified service does not exist as an installed service

last line means: the specified service does not exist as an installed service

It works well with my English desktop. I bel

[2015-09-04 18:36] th3r3isnospoon commented on #67
Awesome thanks @10se1ucgo @Ruined1 !

[2015-09-04 18:49] Ruined1 commented on #68
**IF you have run a this program more than once, including previous versions, the following are ok, otherwise let me know**

**The file would be missing because it was already removed previously**

**Can't be launched or stopped if it was deleted previously**

**Can't be modified if it was deleted previously**

[2015-09-04 20:03] 10se1ucgo commented on #67
[code]

Because the Telemetry registry things isn't a 64 bit regkey AFAIK. I'll look into this further.

[2015-09-04 21:52] Hewyn commented on #68
Hi Ruined1 thanks for your answer.

To be honest I don't remember if I have ever used it on my laptop. Yes, It might be possible.
I'm gonna say it is the reason why it didn't work and close this issue.

Thanks for your help!

[2015-09-04 21:52] #68 closed

[2015-09-04 21:57] Ruined1 commented on #68
No problem, happy to help, language definitely shouldn't effect the program, so I thought this might be the cause. Thanks for participating! Enjoy your privacy :smile:

[2015-09-05 01:58] Jastreb opened #70 "Errors in DisableWinTracking.log"
I ran this tool previously not sure which version but its called RUN.exe

I have now tried the prerelease(?) 2.4 version and got errors in the log for almost everything with exception of skype/mail fix and another one, can remember which, but you can see it in log I am attaching.

https://drive.google.com/file/d/0ByYZ00Ome8NTdmM0b2ozeEZOcGM/view?usp=sharing

Good work btw.

[2015-09-05 02:09] Ruined1 commented on #70
All of those "errors" are perfectly normal. At some point you have run the program with DELETE services selected. In turn, running it now, it's saying those services don't exist. (Because they don't, you deleted them.)

[2015-09-05 02:09] #70 closed

[2015-09-05 04:15] thenoncoder commented on #48
What's the progess so far on this?

[2015-09-05 04:17] Ruined1 commented on #48
It's currently in developement, there is no ETA. I am working diligently on this, but I don't make money writing code, so it gets done between work and sleep :sweat_smile:

[2015-09-05 04:22] thenoncoder commented on #48
Okay. Thanks a lot for removing Windows 10 tracking for us.

There are a couple of batch files on the /r/windows10 subrddit on *Reddit*, so you might want to add them to your app, just to make sure that the tracking is fully gone. The subreddit also has people who have posted the various services that need to be disabled and other stuff like that, but I'm sure that you've already added those, as I

[2015-09-05 04:27] Ruined1 commented on #48
I'll keep that in mind.

Absolutely, with any windows update and (who knows) at any time they like if they've left such ability in their operating system. It's closed source, so who knows? To assume that far is borderline paranoia, but times are strange...

We eat what we cook, @10se1ucgo and I both use this and haven't experienced any issues. I use the DELETE option on my computers.

[2015-09-05 08:28] thenoncoder commented on #48
I guess the only way to be fully sure is if someone makes a live CD especially for this.

[2015-09-05 17:18] AWrightIV opened #71 "Errors"
#### Console Output

#### DisableWinTracking.log

[2015-09-05 17:28] Ruined1 commented on #71
These are all signs that the program has been run before (including previous versions) if this is the case, you can ignore these and close this issue. If not, let me know.

[2015-09-05 18:26] #71 closed

[2015-09-05 21:10] jeremy54000 opened #72 "Errors"
22:50:12 ERROR: Registry: Unable to modify Service dmwappushsvc key.
Traceback (most recent call last):
  File "<string>", line 474, in modifyregistry
WindowsError: [Error 2] Le fichier spécifié est introuvable

22:50:12 ERROR: Services: dmwappushsvc unable to be stopped.
Traceback (most recent call last):
  File "<string>", line 358, in disableservice
  File "disablewintracking\win32serviceutil",

[2015-09-05 21:13] Ruined1 commented on #72
It's truly amazing to me that no one checks previous bug reports before filing new ones...
https://github.com/10se1ucgo/DisableWinTracking/issues/71
https://github.com/10se1ucgo/DisableWinTracking/issues/70
https://github.com/10se1ucgo/DisableWinTracking/issues/68

[2015-09-05 21:13] #72 closed

[2015-09-05 22:50] skibbipl commented on #67
I'm also having issues with latest version. After running it my hosts files and firewall rules were deleted. And there are no errors in the log. However the old version has following enitries in the log:
`Domains successfully appended to HOSTS file.`
`IPs succesfully blocked.`
The new version does not display any of those.

[2015-09-05 22:52] 10se1ucgo commented on #67
The new version did not change anything in regards to IP blocking, so it's def not a problem on our side.

[2015-09-05 22:56] skibbipl commented on #67
Old version updates hosts file and firewall rules - new doesn't. There is def a problem somewhere. Unfortunately new version does not log anything suspicious.

[2015-09-05 23:01] 10se1ucgo commented on #67
The new version does log things. DisableWinTracking.log.

Also, I just showed to you that it works for me. Something is up on your side. Mind giving a bit more information, e.g. Windows version, 64-bit/32-bit, Windows edition?

[2015-09-05 23:04] 10se1ucgo commented on #67
@skibbipl try this
https://github.com/10se1ucgo/DisableWinTracking/releases/tag/v2.4.1

[2015-09-05 23:13] skibbipl commented on #67
I use 64-bit polish windows. But I think I found the problem. If I select Telemetry + Block tracking domains hosts file is nulled. If I select only block... it works fine. Firewall rules are created correctly.

[2015-09-05 23:14] 10se1ucgo commented on #67
Really? That's odd. I'll look into this. Going to re-open for now.

[2015-09-06 00:59] arnstein99 opened #74 "Some complaints in DisableWinTracking.log"
I cannot figure out how to attach a file. So here is DisableWinTracking.log, in line:

17:47:48 ERROR: Registry: Unable to modify Service dmwappushsvc key.
Traceback (most recent call last):
  File "<string>", line 473, in modifyregistry
WindowsError: [Error 2] The system cannot find the file specified

17:47:48 ERROR: Services: dmwappushsvc unable to be stopped.
Traceback (most recent call last):

[2015-09-06 03:01] 10se1ucgo commented on #74
If you've ran thwith program before this is OK.

[2015-09-06 04:00] #74 closed

[2015-09-06 04:33] kurapikats opened #75 "ERROR: Registry: Unable to modify Service dmwappushsvc key"
I got this from DisableWinTracking.log
I'm using v2.4.1

12:29:46 ERROR: Registry: Unable to modify Service dmwappushsvc key.
Traceback (most recent call last):
  File "<string>", line 473, in modifyregistry
WindowsError: [Error 2] The system cannot find the file specified

12:29:46 ERROR: Services: dmwappushsvc unable to be stopped.
Traceback (most recent call last):
  File "<string>", line 357,

[2015-09-06 04:35] 10se1ucgo commented on #75
If you've run this program before it's OK to have these errors.

[2015-09-06 04:35] #75 closed

[2015-09-06 09:53] Ruined1 commented on #67
Here's my test, making sure the compiled EXE is the same as the source code I'm running.
- On my Laptop 64 bit win10
    - running through the interpreter from the source code, the HOSTS is modified
    - running from the compiled EXE, the HOSTS is CLEARED, but not re-modified
    - close and reopened  the compiled EXE, the HOSTS is still blank (default HOSTS file)
    - running through the interp

[2015-09-06 12:40] omegaflare opened #76 "Question."
Does this disable keyloggers as well? Thanks!

[2015-09-06 13:26] W4RH4WK commented on #48
Wow, it's nice to see that there is a way to remove those packages with some workaround using the `Remove-AppxPackage` commandlet. Does the removal work in a clean way?
The way I did it was using the `dism.exe` tool. (https://github.com/W4RH4WK/Debloat-Windows-10/blob/47c2666ddd162a511a6517d74502d3dc8465a430/scripts/remove-default-apps.ps1#L64-L98)

[2015-09-07 16:30] 10se1ucgo commented on #76
It sort of does, clearing the DiagTrack log and stuff.

[2015-09-07 16:30] #76 closed

[2015-09-07 19:46] Jastreb commented on #70
I fugured that was not a bug, but consider removing the ERROR label then in the app. Error indicates that something is wrong, while it is not as you described. Make it output something else, like "services not found", or "nothing to do here, done!"

More of a feature request :pray:

[2015-09-07 19:49] 10se1ucgo commented on #70
There really is no way of doing this automatically. win32serviceutil just spits out a pywintypes.error whether or not it was a problem with finding it or if it just didn't have access. I'll be looking into creating a text file in AppData that signifies whether or not the program has been run before.

[2015-09-07 20:26] 10se1ucgo commented on #67
I may have been able to fix it with the latest commit, we'll see.

[2015-09-07 20:28] 10se1ucgo commented on #67
@Ruined1 It works!!!

[code]

[2015-09-07 20:28] #67 closed

[2015-09-07 21:56] Ruined1 commented on #70
@Jastreb I already did in the latest versions it tells you that it's ok if you've run it before. :+1:

[2015-09-07 21:58] Ruined1 commented on #67
@10se1ucgo Eureka! I'm going to check this on a test bench with a clean install and manually check all the keys/settings/etc to make sure, but I think it's good!

[2015-09-07 22:20] cryzies opened #77 "v2.4.3 shows v2.4.2 in application"
Title

[2015-09-07 22:24] 10se1ucgo commented on #77
Eh? That's not possible... Weird. Hold on.

[2015-09-07 22:25] 10se1ucgo commented on #77
You're right.. Huh. One second :p

[2015-09-07 22:32] 10se1ucgo commented on #77
Fixed, re-download and do not run that version, it's broken.

[2015-09-07 22:32] #77 closed

[2015-09-08 00:16] 10se1ucgo opened #78 "Test"
**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise): Home
* Architecture (32bit/64bit): 64bit
* Options used: Services, Telemetry, Block domains.

**LOG:**

[code]

[2015-09-08 00:16] #78 closed

[2015-09-08 00:17] Ruined1 commented on #78
So we're still having issues with the registry keys.

[2015-09-08 00:18] 10se1ucgo commented on #78
@Ruined1 Nah, it's just that Windows Defender is protected, probably to prevent malware infecting it.

[2015-09-08 00:22] Ruined1 commented on #78
@10se1ucgo ah just noticed that

[2015-09-08 05:54] cryzies opened #79 "Permission denied even with Run As Administrator"
15:57:49 INFO: DisableWinTracking Version: 2.4.3

15:57:49 ERROR: Services: dmwappushsvc unable to be stopped. THIS IS ONLY AN ISSUE IF THIS IS YOUR FIRST TIME RUNNING THIS PROGRAM! Please DO NOT submit issues on GitHub otherwise.
Traceback (most recent call last):
  File "<string>", line 373, in disableservice
  File "disablewintracking\win32serviceutil", line 409, in StopService
  File "disablew

[2015-09-08 06:53] Ruined1 commented on #79
Yup we're well aware of the issue and I'm currently developing to bypass it. The services messages you can ignore, they are expected and not an issue, the "Access is Denied" results are the one's I'm working on.

[2015-09-08 06:53] #79 closed

[2015-09-10 14:50] Ovrclockd opened #80 "Are you blocking all of these?"
It is like the rabbit hole keeps getting deeper, make sure none of these have been missed, taken from Jimstone.is

Windows 10 BUSTED, AND IT IS CREEPY

Yeah, I guess HILLARY'S E-MAILS PROVED THE NSA AS A SOURCE IS NOT GOOD ENOUGH, because using them can land you in jail. THE NEW CONSULTEE IS (PROBABLY) MICROSOFT, why have your goons infiltrate an old outdated battleship like the NSA when that can

[2015-09-10 14:58] brainscript commented on #80
@Ovrclockd I can't believe that this is true. This illegally and cruel! :imp:

[2015-09-10 15:51] Ruined1 commented on #80
@Ovrclockd all of those and more as far as I'm aware. We'll compare to make sure, but we're doing everything we can to fix this breach of privacy.

[2015-09-10 18:14] mtomas7 opened #81 "Question: is blocking of host names and IPs necessary if proceses are deleted?"
Hi, I was asking related question before:

https://github.com/10se1ucgo/DisableWinTracking/issues/64

Now I want to get it more clear. It is not very common situation that standard Windows FireWall is active - most likely people will use some different security solution.

In this case we have to maintain some type of list to make it easy to import in other FireWalls or routers. Importing host name

[2015-09-10 19:15] Ruined1 commented on #81
@mtomas7 actually, I can't speak for the creator, but i never thought of that... excellent point to bring to our attention! Unfortunately there are many different software fields available and we can't provide for every single one... i would think a software firewall worth it's salt would be able to import our rules from the Windows firewall with a simple click of a button. I'm not sure what our a

[2015-09-10 20:03] 10se1ucgo commented on #81
@mtomas7 Unfortunately even after the services are disabled some other things call to home, so these IPs/domains are still necessary.

[2015-09-10 20:04] 10se1ucgo commented on #80
Yes, these are all done.

[2015-09-10 20:04] #80 closed

[2015-09-10 20:24] Gitoffthelawn commented on #80
Wow... anti-semitism rears its ugly head again.  Disgusting.

[2015-09-10 20:34] mtomas7 commented on #81
Thank you for the answer.

I am using Comodo IS, but I will try to use Windows FireWall with Windows Firewall Notifier, to make everything easier:

http://www.howtogeek.com/113641/how-to-extend-the-windows-firewall-and-easily-block-outgoing-connections/?PageSpeed=noscript

[2015-09-10 20:45] 10se1ucgo commented on #80
@Gitoffthelawn Probably because nobody actually read his rant except you.

[2015-09-10 22:53] Ruined1 commented on #80
@10se1ucgo i would have left it. One, because it's probably accurate. Two, freedom of speech. Lol. I don't care i look at it as good people and bad people, doesn't matter your race, religion, or creed. Anywho this can probably be locked at this point :smile:

[2015-09-10 23:38] 10se1ucgo commented on #80
Ehh, not sure about accuracy.. He said "This will allow Microsoft and the greater Jewish to have a way to steal every joke, every poem, every intellectual endeavor you ever create and have it copyrighted before you even stop typing."

[2015-09-10 23:40] 10se1ucgo commented on #80
@Gitoffthelawn Wait, holy shit, I just read that website. What in the actual fuck. "Freelance journalist" Sorry for my previous comment, damn.

[2015-09-11 01:03] Gitoffthelawn commented on #80
@Ruined1 Wow... you support anti-semitism?  Claiming that people of the Jewish faith are somehow in bed with Microsoft to steal things is just blatant prejudice.  Sorry to hear you support it.

[2015-09-11 03:21] Ruined1 commented on #80
@Gitoffthelawn That's not what I said, I was referring to M$'s attempts to log everything we do, and this is not the place to discuss it. Saying a particular group is doing something is not hate speech... He didn't slur or slander, he named a group of people he thought was committing a particular act, you just took offense to it. Issue was resolved 7 hours ago... I'm not saying your wrong, and I'm

[2015-09-11 03:46] 10se1ucgo commented on #80
Just so @Ovrclockd doesnt look bad, he didn't actually write that, he got it from a website.

[2015-09-14 15:17] #81 closed

[2015-09-15 16:13] jfmatth opened #82 "Add this article for all app removal"
http://news.softpedia.com/news/how-to-remove-pre-installed-windows-10-apps-488894.shtml

I'm not sure the powershell equivalent in Python :(

[2015-09-15 17:21] 10se1ucgo commented on #82
It's already implemented, I just haven't uploaded a compiled version yet because I'm working on another feature right now. I'll upload it soon.

[2015-09-15 17:22] Ruined1 commented on #82
And I'll do the stubborn APP removal whenever you're ready for me to implement it.

[2015-09-15 19:10] jfmatth commented on #82
thank you.  Let me know if you need any help.

On Tue, Sep 15, 2015 at 10:21 AM, 10se1ucgo <notifications@github.com>
wrote:

[2015-09-16 01:34] arnstein99 opened #83 "Donation"
Do you have a method for accepting donations? I would like to help.

[2015-09-16 01:37] 10se1ucgo commented on #83
As nice as it is, I'd prefer if you'd donate it to charity or something, I'm just a kid having fun with computers :)

[2015-09-16 15:01] Draxler commented on #83
^ ^ ^ ^ ^ ^ ^ ^ ^ ^
:+1:
____________________

[2015-09-16 16:12] Hernandy opened #84 "Bing.com"
Looks like i cant even open bing.com website completely, is this caused by the program? i did check all options

[2015-09-16 20:41] Obihoernchen commented on #84
Yes.
The option "Block tracking IP addresses" blocks 204.79.197.200 which is bing.com (at least here in germany)
See: https://github.com/10se1ucgo/DisableWinTracking/blob/master/run.py#L425

There are 2 things you can do:
1) Disable the 204.79.197.200 rule in Windows firewall
2) Revert "Block tracking IP addresses"

[2015-09-16 20:50] Hernandy commented on #84
Just a quick question is it OK to unblock that IP to make it bing.com working for search purpose only? will that caused other "~~Disable~~WinTracking" ?

[2015-09-16 21:02] Ruined1 commented on #84
It's blocked for a reason. If you must use Bing, rather than any of the other fantastic search engines available, such as Google, then you have to accept the tracking that comes with unblocking that domain.

[2015-09-16 21:19] Obihoernchen commented on #84
Nevertheless the hint should state that this will block services like bing.com.

(I never used it, but there are people using bing out there ;)

[2015-09-16 21:40] Hernandy commented on #84
I dont use it too, just accidentally open that site lol.

**If** that domain not affecting the tracking system, i dont see reason to block the "services" IP.

I imagine if other tracking "services" domain like web.skype.com get blocked too -_-

People can chose what they want. An option will be appreciated.

[2015-09-16 22:00] 10se1ucgo commented on #84
It's being worked on.

[2015-09-17 23:28] s0rg0 commented on #83
<3

[2015-09-20 07:08] alexschrank opened #85 "Cannot remove/append domains, and unable to modify two Windows Defender keys."
Log report below. I right-clicked on the program and chose "run as administrator" so that should not be the issue here.

03:05:36 ERROR: Domain block: Could not remove domains.
Traceback (most recent call last):
  File "<string>", line 530, in modifyhostfile
WindowsError: [Error 32] The process cannot access the file because it is being used by another process: 'C:\\windows\\System32\\drivers\\etc

[2015-09-20 15:29] Ruined1 commented on #85
## These are okay:

Traceback (most recent call last):
File "", line 487, in modifyregistry
WindowsError: [Error 5] Access is denied

03:05:38 ERROR: Registry: Unable to modify Windows Defender Sample Submission key.
Traceback (most recent call last):
File "", line 487, in modifyregistry
WindowsError: [Error 5] Access is denied

## These are because something is blocking access to your hosts file

[2015-09-20 15:33] #82 closed

[2015-09-20 21:28] alexschrank commented on #85
Sorry, that worked, thank you!

[2015-09-21 11:59] Sylencer90 opened #86 "Skype can't connect"
Even if i remove skype domains from the tool my skype is unable to connect ...turned off firewall & antivirus programm. I assume they added a new domain with 7.10 update. please fix it.

[2015-09-21 13:14] mpmc commented on #86
Skype is having issues atm, http://heartbeat.skype.com/2015/09/skype_presence_issues.html

[2015-09-21 14:56] expwnent opened #87 "A few errors"
I ran the program once as administrator. I'm not sure how serious the problems are (if at all).
---
Services: dmwappushsvc key successfully modified.
Services: DiagTrack key successfully modified.
Services: dmwappushsvc unable to be stopped.
Services: Diagnostics Tracking Service successfully stopped.
Services: Diagnostics Tracking Service unable to be stopped.
DiagTrack Log: Succesfully cleared a

[2015-09-21 14:58] expwnent commented on #87
I don't know how to disable github formatting, so here's a pastebin link in case it matters: http://pastebin.com/AaYHBVmK

[2015-09-21 18:15] 10se1ucgo commented on #87
This is okay, windows is protecting Windows Defender keys. I'll look for a work around next update.

[2015-09-21 18:15] #87 closed

[2015-09-21 18:16] 10se1ucgo commented on #86
Seems right, closing.

[2015-09-21 18:16] #86 closed

[2015-09-21 18:16] #85 closed

[2015-09-22 00:31] 10se1ucgo commented on #83
Gonna close this, thanks for your generous offer though :)

[2015-09-22 00:31] #83 closed

[2015-09-22 00:32] 10se1ucgo commented on #84
Sorry for the slow progress, I started high school and time is short. Hard to manage homework, games, anime and this at the same time :P

[2015-09-22 04:05] Ruined1 commented on #84
@10se1cugo if you're ever tied up and something needs done just assign it to me and I'll comment if i can pick it up :+1: unfortunately sometimes there's things i spend 15 hours on and just can't crack (e.g. registry) lol

[2015-09-22 06:25] s0rg0 opened #88 ""Access is denied" regarding Windows Defender"
Each time I run the application (yes, as an administrator) with the Defender/Wifisense box ticked, I encounter the following two errors:

"02:19:57 ERROR: Registry: Unable to modify Windows Defender Spynet key.
Traceback (most recent call last):
  File "<string>", line 578, in modifyregistry
WindowsError: [Error 5] Access is denied

02:19:57 ERROR: Registry: Unable to modify Windows Defender Sampl

[2015-09-22 12:41] 10se1ucgo commented on #88
Known issue, windows is protecting defender. Looking for a workaround.

[2015-09-22 20:28] s0rg0 commented on #88
Thanks, sorry for the duplicate issue.

[2015-09-26 00:55] 10se1ucgo commented on #84
Implemented in 0b235e9775c1371a87783441bd1cae1aa8eb07b4

[2015-09-26 00:55] #84 closed

[2015-09-26 14:43] MrJaf opened #89 "this app keep crash"
this app cant uninstall any app on windows and keep get " not responding "
**INFORMATION:**

* Windows 10 Edition (Pro)
* Architecture (64bit):
* Options used:

**LOG:**

[code]

[2015-09-26 18:17] 10se1ucgo commented on #89
It takes time, around 30 seconds per app, and is stated in the tooltip. This is not an issue with the program, but rather Windows PowerShell.

[2015-09-26 18:17] #89 closed

[2015-09-26 18:21] 10se1ucgo commented on #88
@s0rg0 It's fine, we need an open issue anyways.

[2015-09-26 18:25] Ruined1 commented on #88
@10se1ucgo even with an open issue there will still be duplicates :laughing:

[2015-09-26 22:17] s0rg0 opened #90 "[Idea] Add "Disable Office 2016 telemetry" option"
I know that newer Office suites come with cloud/background "features" which users might like to disable/remove, similar to the "Uninstall OneDrive" option already available. I got the idea from this program (read the application description): https://kat.cr/destroy-windows-10-spying-1-5-0-build-448-portable-t11320518.html
:-)

[2015-09-27 13:12] Draxler commented on #90
Destroy Windows 10 Spying;
This is open source software here at Github. You can look into it:
https://github.com/Nummer/Destroy-Windows-10-Spying

[2015-09-27 19:21] Sylencer90 opened #91 "My email won't load anymore"
Im facing this issue since im using disable win tracking, i just came to the conclusion that it mus have sth to do with it. Considering i re-installed windows 10, got everything new. Is something blocked what could cause these problems? I can log in to yahoo and hotmail without problems, but i cannot login into my t-online.de adress. I just get timed out, look on google already for solutions but n

[2015-09-27 21:16] 10se1ucgo commented on #91
Not having any issues connecting to the site.

Try using the revert tool, and if that fails then it's something else on your end.

[2015-09-27 23:03] Sylencer90 commented on #91
It's not the site, its the redirecting thing. I can login without problems but if i click on "Email" it just doesn't loads up my email account. Btw how is the settings menu intended to work? I removed some domains - but than, what should i hit? Since if i reopen the tool again the domains are still blocked. I just had to manually remove them from hosts file. Could you exclude skype & windows updat

[2015-09-27 23:17] 10se1ucgo commented on #91
Leave the settings as it is, just press the "Revert" option and press "Go!"

[2015-09-27 23:22] s0rg0 commented on #90
Thanks!

[2015-09-28 01:52] stisev opened #92 "Replace with a short description of your problem"
**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise):
* Architecture (32bit/64bit):
* Options used:

**LOG:**

[code]

[2015-09-28 01:53] stisev commented on #92
Please be advised. Your tool is breaking BING.COM

This webpage is not available

ERR_SOCKET_NOT_CONNECTED

It happens directly after running your tool!

[2015-09-28 02:22] Ruined1 commented on #92
You need to revert changes, then reapply, but THIS time, BEFORE you apply privacy settings, go to settings > remove bing.com from the list of blocked domains.

[2015-09-28 02:29] #92 closed

[2015-09-28 04:22] stisev opened #93 "Bing.com is disabled due to [NOTABUG]"
Fyi. You locked the other thread so I couldn't comment. I didn't have a 'menu' option until I downloaded the newest version.  Your suggestion to remove bing.com did not help (since bing.com is not an entry), so I took matters into my hands!  Also, FYI: reverting changes did not remove the Windows firewall exceptions created. I had to go in and manually disable each one and see which was the offend

[2015-09-28 20:06] Ruined1 commented on #93
@stisev, i truly don't know a single person who uses Bing, that includes my clients, and i fix computers for a couple major corporations. Most people use Google and those who don't know how to choose are usually using Yahoo as their default. In all my career I have yet to find a single person who intentionally uses Bing, not dating there aren't people who use it, but let's not over exaggerate... T

[2015-09-28 20:07] stisev commented on #93
Hi,
No worries. Actually I don't use Bing. I prefer Google, but Bing Images is
actually not half bad.

Thanks for the quick replies. I solved it on my end, so the ball is in your
court :)

On Mon, Sep 28, 2015 at 1:06 PM, Ruined1 - notifications@github.com <
github.keepmy.d2f8a97cfc.notifications#github.com@ob.0sg.net> wrote:

[2015-09-28 20:19] 10se1ucgo commented on #93
I'll implement IP block settings now, and point out that 204.79.197.200 breaks Bing.

[2015-09-28 20:38] knotverygood commented on #88
Getting the same issue as OP running version 2.5:

15:33:17 ERROR: Registry: Unable to modify Windows Defender Spynet key.
Traceback (most recent call last):
  File "<string>", line 575, in modifyregistry
WindowsError: [Error 5] Access is denied

15:33:17 ERROR: Registry: Unable to modify Windows Defender Sample Submission key.
Traceback (most recent call last):
  File "<string>", line 575, in mod

[2015-09-28 20:47] 10se1ucgo commented on #88
Yes yes, everyone does, it's confirmed. However I haven't looked into a fix yet as I'm doing some other things.

[2015-09-28 20:51] knotverygood commented on #88
Thanks 10se1ucgo. No pressure, just the fate of the world depending on you =). But seriously, great job with this. I tried disable Windows Defender first and then running it and it was a no go. I'll dive into the source when I get home from work and see what I can find.

[2015-09-28 22:16] Ruined1 commented on #88
@knotverygood the problem is not the code, it is not a bug with DisableWinTracking... The issues is the ONLY account that has permissions to change those two registry keys is SYSTEM. So, even ADMINISTRATOR cannot change them. I've tried several work-arounds to circumvent this, both in powershell, and a frustrating amount of time wasted trying to take ownership of the keys for administrator, with n

[2015-09-28 22:40] 10se1ucgo commented on #88
Hmm, `sc stop WinDefend` before modifying the keys doesn't work?

[2015-09-28 22:59] 10se1ucgo commented on #88
Okay, using Set-ACL might help us here.

[2015-09-29 00:26] Ruined1 commented on #88
@10se1ucgo already tried it, good luck

[2015-09-29 01:10] knotverygood commented on #88
How about this?
 sc stop WinDefend

HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\ControlPanel\NameSpace\{D8559EB9-20C0-410E-BEDA-7ED416AECC2A} ;
    Right on {D8559EB9-20C0-410E-BEDA-7ED416AECC2A}, Permissions ... then Advanced;
    Click Change Owner

[2015-09-29 01:12] Ruined1 commented on #88
@knotverygood yes that's perfectly viable (although you're looking at the wrong spot in the registry). We're trying to find a way to automate it from the program.

[2015-09-29 05:02] SuperMasterBlasterLaser commented on #93
@Ruined1 I use bing sometimes. When Google blocks searching when I share my internet with other devices and thinks that I'm bot.

[2015-09-29 11:50] knotverygood commented on #88
The registry has  {D8559EB9-20C0-410E-BEDA-7ED416AECC2A} set as "TrustedInstaller" as the "Owner". What is wrong with editing this in the registry? Would this not solve the problem?

[2015-09-29 11:54] knotverygood commented on #88
Maybe... run this as TrustedInstaller instead of admin. Look here: https://github.com/jschicht/RunAsTI

[2015-09-29 21:45] Ruined1 commented on #93
@SuperMasterBlasterLaser i never said it wasn't used,i just said i haven't seen it used intentionally as a primary search engine

[2015-09-29 22:12] 10se1ucgo commented on #93
Whatever, it's irrelevant. I'm closing this as it's not really a bug. Settings for IP blocking soon

[2015-09-29 22:33] #93 closed

[2015-09-30 03:36] Reanmachine opened #94 "Blocked Firewall IP is breaking bing.com"
You've got a rule to add `204.79.197.200` to the firewall, this is the IP that http://www.bing.com/ resolves to. I'm not sure if this was intended but it's preventing users from using the search engine.

[2015-09-30 03:38] 10se1ucgo commented on #94
This is a known issue

[2015-09-30 03:38] #94 closed

[2015-09-30 08:06] Ruined1 commented on #88
@knotverygood unfortunately the author of that program has not posted a license, which makes his code open source, but not usable. Technically, legally, we can't even use the compiled EXE to do the intended function because, again, no license... I may simply try to implement this via python though, but that depends on the license attached to RunAsTI (hopefully there is one...)

[2015-10-01 08:54] Ruined1 commented on #88
@10se1ucgo @knotverygood @s0rg0 As you can see here:
![](http://i.imgur.com/3qTdJHs.png)

Even the highest account cannot change these values, that is, the SYSTEM account. You can't tell from the screenshot, but I also copied the token from the trustedinstaller to run this as well... Both SYSTEM and TRUSTEDINSTALLER have full permissions to access that key by default in a clean windows 10 install.

[2015-10-01 11:22] knotverygood commented on #88
@Ruined1 Yes, you are right. What you have to do is actually change the owner. You cannot run it at system or TI regardless if it is already owned by system or TI. You must make it so the Administrator is the owner.

[2015-10-01 12:29] icheyne opened #95 "Freeze and crash while uninstalling apps"
DisableWinTracking freezes while trying to uninstall apps and then crashes without any error message.

No apps are uninstalled.

The log file stays empty.

[2015-10-01 12:55] 10se1ucgo commented on #95
How many apps are you trying to uninstall?

[2015-10-01 12:56] 10se1ucgo commented on #88
Yep. I can do it manually but it's a bit confusing to do it from PowerShell. I'll look into giving it TrustedInstaller privilege.

[2015-10-01 13:59] icheyne commented on #95
All except Camera and Xbox.

On Thu, 1 Oct 2015 13:55 10se1ucgo <notifications@github.com> wrote:

[2015-10-01 14:27] 10se1ucgo commented on #95
Hmmm. I know it freezes because PowerShell takes a long time, but not sure why it crashes. I'll look into this.

[2015-10-01 15:25] icheyne commented on #95
I alt-tabbed away and did other tasks. When I came back to
DisableWinTracking's window, it was unresponsive.

On Thu, Oct 1, 2015 at 3:27 PM 10se1ucgo <notifications@github.com> wrote:

[2015-10-01 16:45] aarpro opened #96 "hosts"
- your program modifies the hosts file - add MS domains
- I would like to add MS domains in my router hosts file, protection for all my network
- MS domains adds and changes - you make changes in DisableWinTracking
- if you can place actual list MS domains on you repo ? as well AdBloks hosts , for example: http://winhelp2002.mvps.org/hosts.txt

[2015-10-01 17:41] knotverygood commented on #88
I am pretty sure I had read that this is a security feature of Windows. They only way to do this is by changing who the owner is, rather than running it as TI or System.

[2015-10-01 18:49] 10se1ucgo commented on #95
It's supposed to be because PowerShell is slow. I'll see if I can implement multithreading.

[2015-10-01 18:50] 10se1ucgo commented on #96
I can't seem to understand you, please try to get someone/something to translate for you. Thanks.

[2015-10-01 19:12] Ruined1 commented on #88
@10se1ucgo, as I stated;

This is exactly what I did, with no success.

I do wish you luck though.

[2015-10-01 19:16] Ruined1 commented on #95
@10se1ucgo if you want me to take this one, so you can work on more important things (like that registry issue I just can't solve lol) just assign it to me and I'll get on it.

[2015-10-01 19:18] Ruined1 commented on #91
No activity on this issue, assuming solved, closing issue.

[2015-10-01 19:18] #91 closed

[2015-10-01 20:57] aarpro commented on #96
I edited question - please see it. thk and sorry for my english

[2015-10-01 21:42] 10se1ucgo commented on #96
No worries.

For your first question, I don't think it's actually possible for me to access your router settings and block the domains. However, if you'd like to do this yourself, here is a list: https://gist.github.com/10se1ucgo/fcb774d781a66ea9d31f

[2015-10-01 21:51] 10se1ucgo commented on #95
@Ruined1 Nah it's fine, the solution is simple :P Use `subprocess.Popen()` instead of `subprocess.call()`, as Popen will create a separate window (therefore a thread, I think?) for each command, and run it.

Example:

![subprocess.call](http://i.imgur.com/IctZKJA.png)
![subprocess.Popen](http://i.imgur.com/p4TO1Gn.png)

[2015-10-01 22:20] aarpro commented on #96
thk
if you update it at this link? (when MS domains adds and changes)

[2015-10-01 22:21] 10se1ucgo commented on #96
Yes, I will update that link if anything ever changes.

[2015-10-01 22:21] #96 closed

[2015-10-01 23:40] #95 closed

[2015-10-02 03:02] Ruined1 commented on #95
@10se1ucgo that's not true multithreading, that's just opening up a bunch of single processes each with their own thread and relying on the processor to handle each thread. While you are running multiple threads at the same time, you're also running multiple processes, so it's not true multithreading :grin: None the less, getting it working and THEN optimizing is the key (as we discovered with for

[2015-10-02 03:21] 10se1ucgo commented on #95
It's close enough :P

Though, it does lead to the issue of the console window opening before the command is even done being executed. Will need some more work.

[2015-10-02 06:17] icheyne commented on #95
Good work. I'll test it if you like.

[2015-10-02 17:23] 10se1ucgo commented on #95
@icheyne I'll send a built your way when I find a workaround to the console window opening prematurely.

[2015-10-02 18:22] icheyne commented on #95
Great!

On Fri, 2 Oct 2015 18:23 10se1ucgo <notifications@github.com> wrote:

[2015-10-03 16:24] szalony opened #97 "multiple error 5"
**INFORMATION:**

* W10 home
* 64bit
* Options used: all

**LOG:**

[code]

[2015-10-05 03:46] Ruined1 commented on #97
Alles in het dagboek is prima. Negeer deze fouten , ging alles perfect.

[2015-10-05 03:46] #97 closed

[2015-10-05 03:49] Ruined1 commented on #48
@10se1ucgo I still need to know which ones you want to be able to remove, there are certain one I would think it unwise to allow removal of. Here is a list:

Microsoft.AAD.BrokerPlugin_1000.10240.16384.0_neutral_neutral_cw5n1h2txyewy|1
Microsoft.AccountsControl_10.0.10240.16384_neutral__cw5n1h2txyewy|1
Microsoft.BioEnrollment_10.0.10240.16384_neutral__cw5n1h2txyewy|1
Microsoft.LockApp_10.0.10240.1

[2015-10-05 03:52] 10se1ucgo commented on #97
Ahh, my error checking did not account for non-English languages. I'm dumb :P

[2015-10-05 16:37] 10se1ucgo commented on #48
* WindowsFeedback
* MicrosoftEdge
* ContactSupport
* CloudExperienceHost
* ParentalControls
* Xbox[GameCallableUI/IdentityProvider]
* Cortana

[2015-10-05 16:40] 10se1ucgo commented on #88
@Ruined1 He's added the MIT license, we should be good to go.

[2015-10-05 23:44] 10se1ucgo commented on #97
Fixed in 988bb5c059f5fab75e5826e9e436c6f8882053a1

sorry :S

[2015-10-06 12:19] AdKiller opened #98 "There is no way to see what settings were previously applied"
**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise): Pro
* Architecture (32bit/64bit): 64
* Options used:

**LOG:**

[code]

[2015-10-06 14:12] 10se1ucgo commented on #98
I'm not understanding what you mean by this. Can you elaborate?

[2015-10-06 16:11] Sylencer90 opened #99 "Skype connectivity issues"
Some messages doesn't get delivered here. But i already removed (maybe) all skype domains from my Hosts file. What else could that cause? It's not an skype issue tho, either some blocked domains or my network. Seeing like 1/3 of my contacts online but some are online but i see them as offline, tried reconnecting and relogging + router restart. Weird.

[2015-10-06 16:33] TheDrink commented on #99
This has been commented on many times before... Will further elaborate when not on mobile.

[2015-10-07 05:53] mzayn opened #100 "Access is denied for Windows Defender"
**INFORMATION:**

"Access is denied" regarding Windows Defender

**LOG:**

13:45:17 INFO: Performing clutter control

13:45:42 INFO: DiagTrack box ticked

13:45:42 INFO: Service disable option ticked

13:45:42 INFO: DisableWinTracking Version: v2.5.1

13:45:42 INFO: Mode: Privacy

13:45:42 INFO: Telemetry box ticked

13:45:42 INFO: Host box ticked

13:45:42 INFO: Extra host box ticked

13:45:42 IN

[2015-10-07 15:43] kephansolo opened #101 "Replace with a short description of your problem"
**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise):
* Architecture (32bit/64bit):
* Options used:

**LOG:**

[code]

[2015-10-07 18:07] 10se1ucgo commented on #101
I need a full log (the file DisableWinTracking.log)

[2015-10-08 14:13] 10se1ucgo commented on #100
Known issue, we're working on it.

[2015-10-08 14:13] #100 closed

[2015-10-08 14:14] 10se1ucgo commented on #90
I'll implement this next major release.

[2015-10-08 14:14] 10se1ucgo commented on #99
Still can't reproduce.

[2015-10-08 14:15] 10se1ucgo commented on #101
Closing for now, feel free to re-open when you can get me the full log file.

[2015-10-08 14:15] #101 closed

[2015-10-08 14:16] 10se1ucgo commented on #98
If this is in regards to the Windows Defender keys not being able to be modified, it's a known issue. Otherwise, please re-open.

[2015-10-08 14:16] #98 closed

[2015-10-09 00:07] s0rg0 commented on #90
Yes, that makes me -- and many others I'm sure -- very happy! The mostly-useless/bloat-y online "features" that come with Office suites is mildly infuriating. You and Ruined1 are angels on this earth. ♡

[2015-10-10 14:03] szalony commented on #97
Thanks :)

Not working yet tho, runned is as admin:

Toegang geweigerd (dutch) =  Access denied

15:59:14 INFO: Performing clutter control

15:59:16 INFO: DiagTrack box ticked

15:59:16 ERROR: Services: Diagnostics Tracking Service unable to be stopped.
Traceback (most recent call last):
  File "<string>", line 474, in disableservice
  File "disablewintracking\win32serviceutil", line 409, in StopS

[2015-10-10 18:43] Ruined1 commented on #97
@szalony de eerste keer dat je liep het programma , heb je DELETE van de diensten , of uit te schakelen hen ? Als u verwijderd van de diensten , fouten dan over de service niet bestaat juist zijn .

[2015-10-10 19:41] W4RH4WK commented on #88
If I recall correctly, I have been stumbling over the same issue. Since I am using PowerShell I have created function which changes the ownership and permission of registry keys so that the administrator can write to them, see [Takeown-Registry](https://github.com/W4RH4WK/Debloat-Windows-10/blob/master/lib/take-own.psm1#L1-L33)

The problem is, that for this to work you have to do some kind of pri

[2015-10-10 19:41] jmdbox commented on #99
I can confirm, basically Skype becomes all bugged out, with the host file entries.   Clear out the hosts file, reboot, and then skype works again for me.  For now i just apply all the settings then just clear the hosts file.   THis on the current version of skype of course, not running any 3rd party firewalls or anything, just basic antivirus.

[2015-10-10 20:36] Ruined1 commented on #88
@10se1ucgo I know, if you look at the issue tracker for that github, I asked him to and he did lol I was surprised since it hadn't been touched in a long long time :open_mouth:

[2015-10-10 20:37] Ruined1 commented on #99
@jmdbox

please define "bugged out"

[2015-10-10 22:59] jmdbox commented on #99
Well basically, skype logs in, but doesn't load any contacts as online, then maybe it does after a long while but not always (and i know they're online cause i am texting them on cell phone), and then someone calls me, i can hear their speech but they cant hear me or vice-versa, also cannot type any text messages to anyone or recieve any.   Really strange like i can make a call, but can't answer o

[2015-10-11 00:52] Ruined1 commented on #99
@jmdbox your explanation is perfect, and that sounds EXACTLY like a server issue, so if it worked perfect with hosts gone and then came back when you used disable win tracking, then yes likely we need to come over the hosts, on mobile right now will reply again shortly with more info and/or a fix

[2015-10-11 06:18] Ruined1 commented on #99
@jmdbox open your HOSTS file in notepad (MAKE SURE NOTEPAD IS RUN AS ADMINISTRATOR!) and try removing the following 1 by 1 after running DisableWinTracking again.

I'd do it myself but I dont use Skype, I think it's horrible and there are plenty of alternatives to Micro$oft programs

[2015-10-11 15:36] jmdbox commented on #99
@Ruined1: yeah i tried that too, removing any entries with "skype" in it, still the problems persisted.   Ok i guess it's up to me, i'll try to pin down which entries are causing it, going to be a pain but i really want to have this working with skype.   Not that i'm a big fan of microsoft programs, i generally try to use 3rd party stuff but all my contacts are on skype and well that's that.

I wi

[2015-10-11 16:23] jmdbox commented on #99
I narrowed it down, it is this entry that is messing up skype:

0.0.0.0 s.gateway.messenger.live.com

Removed this one, all is good again.  Hope this helps.

[2015-10-11 23:00] Ruined1 commented on #99
@jmdbox Fantastic! And thank you for your contribution :stuck_out_tongue_winking_eye:

I'll implement something to reconcile this.

[2015-10-11 23:53] Ruined1 commented on #99
Fixed in #103

[2015-10-11 23:53] #99 closed

[2015-10-12 06:41] Baigle opened #104 "Does not disable some spying in v2.5.1"
**INFORMATION:**

Windows Edition (Home/Pro/Enterprise): Win10 Pro
Architecture (32bit/64bit): 64bit
Options used: Services, Clear DiagTrack log, Telemetry, Block tracking domains, Block even more tracking domains, Block tracking IP addresses, Stop Defender/Wifisense Data Collection, Uninstall OneDrive

**LOG:**

[code]

Winstore.mobile.exe sends M$ data, WpnService for Windows Push Notifications

[2015-10-12 07:03] Baigle commented on #104
And this: http://www.digitalmunition.me/2015/06/how-microsoft-can-spy-on-you-and-how-to-stop-it/

What exactly does it block besides the specific options listed on the program?

[2015-10-12 07:41] Ruined1 commented on #104
@Baigle I believe some of these issues were fixed in recent commits, need to wait for developer to increment the version number and compile a new binary. We'll look into your sources and see what we can add. Thanks for participating =)

[2015-10-12 07:47] Baigle commented on #104
Sweet, thanks!

[2015-10-12 18:10] Ruined1 commented on #104
@10se1ucgo the only thing that has me worried here, why would access to the host file be denied?

[2015-10-12 18:13] Ruined1 commented on #48
@10se1ucgo going to start working on this today, had a busy week :sleepy:

[2015-10-12 20:50] Draxler commented on #48
Great work you guys doing.
Thaks again to all devs and contributors to this project. :+1:

[2015-10-13 04:32] jmdbox commented on #104
I think his hosts file must be set to read only, otherwise some other wrong permissions could be set on it.  Only saying because i am still in the old habit of setting a custom hosts file (just a very few things i like to add to it) and then setting the read-only attribute, and i got the same error when i forgot to clear the read-only attribute from it prior to running the DisableWinTracking.

[2015-10-13 20:34] Ruined1 commented on #104
Ah, well if that's the case then this is solved. I'll close it once I have a chance to research your sources from above and add anything we may not yet have.

[2015-10-14 09:06] AdKiller commented on #98
I mean when I check some boxes & apply some settings, the close the program, and come back to it later... all the check-boxes are cleared and there is no easy way to see what settings have been applied previously.

[2015-10-14 10:25] walkman1943 opened #105 "Replace with a short description of your problem"
11:19:17 ERROR: Registry: Unable to modify Windows Defender Spynet key.
Traceback (most recent call last):
  File "<string>", line 575, in modifyregistry
WindowsError: [Error 5] Access is denied

11:19:18 ERROR: Registry: Unable to modify Windows Defender Sample Submission key.
Traceback (most recent call last):
  File "<string>", line 575, in modifyregistry
WindowsError: [Error 5] Access is denie

[2015-10-14 12:53] 10se1ucgo commented on #105
Known issue, @Ruined1 has a fix, I just need to pack a binary when I'm free.

[2015-10-14 13:15] Ruined1 commented on #98
@AdKiller DisableWinTracking isn't written to work this way. If you're going to revert something, you should know exactly what you're going to revert. if you want to revert everything, just check everything. Even if you check something that wasn't done, it will still work as expected.

[2015-10-14 13:19] #105 closed

[2015-10-14 17:18] walkman1943 commented on #105
Not sure where I go from here. Is there a modified edition of the program available that I need to download and install? Thanks for your help.

[2015-10-14 17:31] Ruined1 commented on #105
@walkman1943 As the Head Developer stated, he needs to pack a new binary. What this means is that we have already fixed the programs source code, if you new how to run the program from source, you could already run the latest version. However, if you dont you need to wait for him to pack that new binary (create a new .exe file from the source code) and upload it for you to download and run :+1:

[2015-10-14 19:53] szalony commented on #97
Could be, tried a couple of things. Anyway to check?

[2015-10-14 20:43] Ruined1 commented on #97
@szalony Ja. klik met de rechtermuisknop op de startknop en ga naar " Computerbeheer " . In het linker tabblad open " Services en toepassingen " en klik op " diensten " . Dan kunt u zien of deze diensten zijn er of niet . Als ze niet , ze werden eerder verwijderde .

Op een kanttekening, het hoofd Developer noemde hij een probleem met andere talen dan Engels vast . Wachten tot hij stelt een nieuwe

[2015-10-15 09:44] Baigle commented on #104
![capture](https://cloud.githubusercontent.com/assets/1761404/10510245/7180bcf0-72f7-11e5-897d-b32a22304e70.JPG)
This might be the problem... lol

[2015-10-15 09:53] Baigle commented on #104
After I remove the extra files, remove read-only flag, and sec security permissions to allow administrators and my user account full read and write access it still gives:

04:50:43 INFO: Performing clutter control

04:50:43 ERROR: Clutter control: Could not remove domains.
Traceback (most recent call last):
  File "<string>", line 613, in modifyhostfile
WindowsError: [Error 5] Access is denied: 'C

[2015-10-15 21:34] jmdbox commented on #104
@Baigle Could it be possible your security software is denying changes?  What security/av software are you running?

[2015-10-16 11:08] Ruined1 commented on #104
@Baigle like jdmbox said, a LOT of AV software prevents hosts file changes, try temporarily disabling any AV software and run DWT again

[2015-10-17 20:36] Baigle commented on #104
It was just the security permissions on the file I tried editing it again today... but without those permission changes it wasn't editable without copying, editing copy, and replacing old copy in that directory.

[2015-10-18 14:11] psychok9 opened #106 "I can't restore correctly search/data collecting service"
I've tried to restore original settings, but it doesn't work at 100%.
Also after a reboot, "send your data to Microsoft" on the "diagnostic & feedback" menu still grey.
Obviously I selected "disable" on service method.
I don't know if others components still disabled.

Log:
Services: dmwappushsvc key successfully modified.
Services: DiagTrack key successfully modified.
Telemetry: AllowTelemetry ke

[2015-10-18 21:40] novarro opened #107 "DisableWinTracking not oppening"
I downloaded the latest version 2.5.1 on a samsung ultrabook with a windows 10 home and when I open it as an administrator after I confirm that I want to open it nothing happens! Same think if I try to run directly(not as an administrator)! What should I do?

[2015-10-21 22:38] Bilo49 opened #108 "Replace with a short description of your problem"
**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise):
* Architecture (32bit/64bit):
* Options used:

**LOG:**

[code]

[2015-10-21 22:39] 10se1ucgo commented on #108
No information was provided. Please give some.

[2015-10-21 23:34] 10se1ucgo commented on #106
Hmm. Try going to `gpedit.msc>Computer Configuration>Administrative Templates>Windows Components>Data Collection and Preview Builds` and set `Allow Telemetry` to any value besides `0`.

[2015-10-24 05:43] Baigle commented on #104
My deepest apologies. I tried again on another system I had and found the reason you specified to be true. I had a variety of different configurations designed to protect the other system and realized that after disabling one of the stragglers on the second machine (not even windows 10, mind you) the software wrote the hosts file correctly.

[2015-10-25 03:09] MonykaR opened #109 "Installed it & applied, lost all search windows (local) capability"
**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise):
* Architecture (32bit/64bit):
* Options used:

**LOG:**

[code]

[2015-10-25 09:08] brainscript commented on #109
@MonykaR Are you thinking about filling in the info fields?!

[2015-10-25 14:35] MonykaR commented on #109
Well, I lost the log when I closed the output window and now of course if I re-run the disable or delete and the uninstall, it is empty. I can revert and re-install if you like.

[2015-10-25 16:14] 10se1ucgo commented on #109
The program creates a file named 'DisableWinTracking.log' in the directory you ran it from.

[2015-10-25 16:42] MonykaR commented on #109
I looked there as well, it's completely empty...

I re-ran the uninstall - all it gave was :
13:40:28 INFO: DisableWinTracking Version: v2.5.1

I can't undo the delete of the privacy section, however :( so I cannot re-create the log, but I looked it at yesterday and it didn't say very much.

[2015-10-25 16:44] MonykaR commented on #109
I re-ran the delete:
Hope this helps.

13:42:42 INFO: Performing clutter control

13:42:43 INFO: DiagTrack box ticked

13:42:43 INFO: Service delete option ticked

13:42:43 INFO: DisableWinTracking Version: v2.5.1

13:42:43 INFO: Mode: Privacy

13:42:43 INFO: Telemetry box ticked

13:42:43 INFO: Host box ticked

13:42:43 INFO: Extra host box ticked

13:42:43 INFO: IP block box ticked

13:42:44 INF

[2015-10-26 18:11] ThomasWaldmann opened #110 "remove obfuscated code"
Such stuff just looks much too suspicious (see end of the code file).

[2015-10-26 19:31] Ruined1 commented on #110
@ThomasWaldmann can you maybe cite which file you're referring to and some line numbers?

[2015-10-26 19:37] 10se1ucgo commented on #110
He's talking about the PowerShell command at the end. Just undo the Base64 encode and you'll see what it is. Stop being so paranoid.

[2015-10-26 19:37] #110 closed

[2015-10-26 19:37] Ruined1 commented on #110
@ThomasWaldmann the only thing I can imagine you're talking about is

        # We encode in Base64 because the command is complex and I'm too lazy to escape everything.
        # It's uncoded format command: "Get-AppxPackage -AllUsers| Foreach {Add-AppxPackage -DisableDevelopmentMode
        # -Register "$($_.InstallLocation)\AppXManifest.xml"}"
        encodedcommand = "RwBlAHQALQBBAHAAcAB4AFAAY

[2015-10-26 19:57] CooKino commented on #107
Same problem here with Windows 10 Pro x64.

[2015-10-26 20:19] ThomasWaldmann commented on #110
@10se1ucgo so you created a anti-spy / anti-tracking tool for windows and all you say about your obfuscated code is "stop being so paranoid". That's kind of ironic.

If the base64 encoding is just needed for more easily passing it into that call (?), then you could just have the clear text in your source code, then encode it at runtime using the base64 and then pass the computed result.

[2015-10-26 20:49] Ruined1 commented on #110
@ThomasWaldmann

ˈäbfəˌskāt/Submit
verb
render obscure, unclear, or unintelligible.

There's clear writing defining what the **encoded**, *not* obfuscated, code does. It's open source, and anyone with a python interpreter (which are available for use online with no download) can decode it with two lines... importing base64 and using b64decode. You can even do it on one line if you like. This discu

[2015-10-26 21:52] 10se1ucgo commented on #110
@ThomasWaldmann Clearly, you're misunderstanding. I'm fucking encoding it because there are too many quotes and shit to escape in the subprocess.call for me to be arsed to deal with. It's not ironic because it has nothing to do with spying and tracking. It's not like I can use PowerShell to spy on your computer. Lastly, I'm telling you how to check if its real. You want it fixed? Fucking do it you

[2015-10-26 21:55] #108 closed

[2015-10-26 22:10] 10se1ucgo commented on #110
@ThomasWaldmann Oh and if you're still concerned,

![:^)](http://i.imgur.com/sq2bKyN.png)

[2015-10-27 02:14] psychok9 commented on #106
I'm sorry... no time.
I tried your change, I did the reboot, but the setting still grey.

[2015-10-27 02:36] 10se1ucgo commented on #106
Hmm. Very weird. I'm not really sure whats going on here.

[2015-10-27 02:47] psychok9 commented on #106
Ok... I played with Allow Telemetry, set to 1, and after disabled the control from gpedit.msc. Now I can start the service and seems work :)

[2015-10-27 02:51] #106 closed

[2015-10-28 16:24] Fantomera opened #111 "Replace with a short description of your problem"
**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise): Home
* Architecture (32bit/64bit): 64 bit
* Options used:

**LOG:**

[code]

[2015-10-28 21:37] Ruined1 commented on #111
Have you run DWT before on the computer you got that log from?

[2015-10-29 10:51] Fantomera commented on #111
Oh, yes, i ran it before, i wasn't aware.. so i didn't notice that's was done.
Thanks ^^

[2015-10-29 10:51] #111 closed

[2015-10-29 15:47] Ruined1 commented on #111
No problem, yes, if you ran it before, then that log is as expected.

[2015-10-29 15:57] Ruined1 commented on #107
@CooKino make/model? is yours also an ultra book?

I'm curious to know, because you two are the only two to report this issue. Maybe it's something specific we need to look at.

[2015-10-29 16:16] CooKino commented on #107
It's a hand-maked PC, my configuration, if it can help: i7 4770, 8Gb RAM, GTX 970, Windows 10 Pro x64 installed on my SSD...
I moved "disablewindowstracking.exe" on my desktop, and it works! @novarro you can try this!

[2015-10-29 20:41] Ruined1 commented on #107
@CooKino Yea, and unfortunately that's not something we can affect. Microsoft is always limiting their users more and more... Anything executable, always try opening it from the desktop or your user's folder (which the desktop happens to be part of, C:\Users\<User>\Desktop)

@10se1ucgo perhaps we should error-proof this by adding something to the instructions on how to use it.

[2015-10-30 01:44] novarro commented on #107
but it is on the Desktop!

[2015-10-30 15:36] batonac opened #112 "Will not run from a read-only directory."
I've uploaded DisableWinTracking to a network file share so I can run it from multiple computers on the same LAN without re-downloading to each one.  When I connect using a username that has write access to the shared folder, the program runs successfully.  When I connect with read-only access, however, the program fails to run.

It seems that the program crashes if it can't write a log file to th

[2015-10-30 18:53] Ruined1 commented on #112
Yup, and this is likely by design of the developers of the logging module in python, on my network i always create one folder share that everyone has read, write, and execute permissions to, and put non-security risks (like DisableWinTracking) into said folder.

You gave me an idea though,i may implement some unique identifier just in the log name for people that are using it over a network share

[2015-10-31 01:32] batonac commented on #112
Okay thanks, I'll follow your advice.

[2015-10-31 01:56] 10se1ucgo commented on #112
It's not by design, I just need a proper try/except block :P

[2015-10-31 02:02] #112 closed

[2015-10-31 02:23] 10se1ucgo commented on #112
Fixed.

[2015-10-31 02:31] batonac commented on #112
Hey wow, thanks!  Now when do we get a new build? ;-)

[2015-10-31 02:41] 10se1ucgo commented on #112
Soon, just gotta inspect/clean some of the newer commits.

[2015-10-31 02:53] 10se1ucgo commented on #107
May be related to #112

Is the download folder you're running it from restricted in some way? (Read only, protected, etc.)

[2015-10-31 02:59] 10se1ucgo opened #113 "Reinstalling apps does not actually work (*yet*)"
The command we're using to reinstall all of the default apps doesn't actually work. This can be solved by changing the command to installing all of the packages found in `%SYSTEMROOT%\InfusedApps\Packages.`

There is one problem however, each app seems to have multiple folders with its own AppManifest.xml file. There is one folder for each app with either x86/x64, and other folders with things suc

[2015-10-31 03:02] 10se1ucgo commented on #109
I'm having a similar issue, but I've had the issue since before I even started working on this. A restart would usually fix it. Are you sure it's related to DWT?

If the issue bothers you, you can try Everything search, which is miles better than the normal Windows search.

[2015-10-31 19:37] Ruined1 commented on #112
@10se1ucgo well, it's not by design if you want the program to run without producing a log, that way people can complain to you about why "it didn't work" in a million issues reports without ever being able to provide you with a log :wink: I suggest leaving it the way it is and have network users do what I said above

[2015-11-04 09:02] mitchoum opened #114 "Impossible to disable some services"
**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise): Pro
* Architecture (32bit/64bit): 64 bit
* Options used: disable all except "Uninstall OneDrive"

**LOG:**
Services: Diagnostics Tracking Service unable to be stopped.
DiagTrack Log: Unable to clear/lock
Services: dmwappushsvc unable to be stopped.
Services: Diagnostics Tracking Service unable to be stopped.

[code]

[2015-11-04 14:59] Ruined1 commented on #114
@mitchoum Have you run any version of DWT before? If so these are to be expected.

[2015-11-05 00:43] intika commented on #48
Thanks a million !!!!!!!

[2015-11-08 16:13] Esux commented on #49
First off I apologize for posting in what seems like a resolved bug, but using a fresh windows install (Windows 10 Enterprise LTSB) and version 2.5.1 of this program it still breaks skype and I do not see the 'Fix Skype/Mail' option. Either I'm blind or it was removed because the bug was deemed to be resolved?

[2015-11-08 16:39] 10se1ucgo commented on #49
It was removed because the extra hosts block was meant for the paranoid, and that they should understand the side effects of it. To fix it, just use an older version that still has it.

[2015-11-09 23:53] war59312 opened #115 "Run As Admin - Require Admin Rights Via Manifest"
Hey,

"RUN AS ADMINISTRATOR!

I cannot stress this enough, not running the program as an administrator will result in none of the tweaks being applied."

OK, then just make it run as admin every time automatically using a manifest file with requireAdministrator.

See: https://msdn.microsoft.com/en-us/library/bb756929.aspx

I'm talking about the binary of course. And put a check in to be sure app a

[2015-11-10 01:17] MonykaR commented on #109
The search was working perfectly fine until I launched and ran DWT.
I am super annoyed that the search no longer works. I was really enjoyed it as opposed to searching for an app or setting in a menu.

[2015-11-10 01:26] 10se1ucgo commented on #115
Already been done.

[2015-11-10 01:26] #115 closed

[2015-11-10 02:01] Ruined1 commented on #109
@MonykaR I'm not saying that it's ok this happened, but at the same time, you should always create a system restore point before making major changes like this in case you do not like the results. Did you try reverting with DWT?

[2015-11-10 02:05] war59312 commented on #115
Ok, cool. Perhaps remove those FUD warning then, so you can not as admin in the first place now. ;)

[2015-11-10 02:06] 10se1ucgo commented on #109
Still not having this issue

![search](http://i.imgur.com/sv3ugQb.png)

[2015-11-10 02:34] 10se1ucgo commented on #115
Will do.

[2015-11-11 01:03] MonykaR commented on #109
@Ruined1 Good idea, I will reinstall windows. I guess I was being lazy and really hoping for an easy fix.

[2015-11-11 11:27] Loyalar commented on #109
I had the exact same issue as the OP - the search menu was entirely blacked out (an example can be seen at https://gyazo.com/9b27dc09c4559d1dfcb444a4481911e5). I tried re-enabling all the tracking that I had previously disabled, restarted, and then disabled them one at a time, with restarts in between each option. When I checked off "Block tracking IP addresses" and restarted, the issue was there

[2015-11-11 22:38] MonykaR commented on #109
There was a windows update and search is back!! I may run the trouble shoot approach that @Loyalar Loyalar mentioned, though :)

[2015-11-12 08:27] firefoxForUser opened #116 "Replace dependencies with dependencies located in github or another free hostings (not on sourceforge)"
Replace dependencies with dependencies located in github or another free hosting (not on sourceforge)

[2015-11-12 15:27] DmitriyYukhanov opened #117 "Adding 'ui.skype.com' to the hosts disables some Skype features"
I'm not sure why you have this included, but it totally prevents Skype updates and blocks other things in Skype, like the home page.

Would be nice to have it excluded initially to not harm Skype users.

[2015-11-12 20:29] Ruined1 commented on #116
I'm afraid I don't understand what you're asking?

[2015-11-12 20:34] Ruined1 commented on #117
The ui.skype.com entry is included in the "Block even more tracking domains" checkbox. Which according the code, specifically puts up a prompt:

You must answer yes for the box to even get checked. Did you completely ignore this prompt? Or did you use an old version of DWT?

[2015-11-12 20:34] #117 closed

[2015-11-12 20:55] DmitriyYukhanov commented on #117
Oh, looks like I missed that prompt or used older version.
Thanks for the clarification!

[2015-11-13 00:21] Ruined1 commented on #117
Glad I could help.

@10se1ucgo might be time to publish a new release?

[2015-11-13 07:57] Jan02 opened #118 "[v2.5.1] Unable to modify Windows Defender keys"
02:55:04 ERROR: Registry: Unable to modify Windows Defender Spynet key.
Traceback (most recent call last):
  File "<string>", line 575, in modifyregistry
WindowsError: [Error 5] Access is denied

02:55:04 ERROR: Registry: Unable to modify Windows Defender Sample Submission key.
Traceback (most recent call last):
  File "<string>", line 575, in modifyregistry
WindowsError: [Error 5] Access is denie

[2015-11-13 10:09] Draxler commented on #116
As far as i uderstand; @FirefoxForUser is asking that you should use Github as a source for dependencies not Sourceforge. And Dependencies already used from Sourceforge to be replaced with Dependencies from other free sources or Dependencies from Github. The main concerne here is the Sourceforge as source for Dependencies.

[2015-11-13 22:06] 10se1ucgo commented on #116
That's not possible. Those are the official websites for wxPython and PyWin32. You'll have to ask Robin Dunn and Mark Hammond respectively.

[2015-11-13 22:06] #116 closed

[2015-11-13 22:10] 10se1ucgo commented on #118
This is due to Windows protecting the Windows Defender keys. I'll look for a work around soon.

[2015-11-13 22:10] #118 closed

[2015-11-13 22:10] 10se1ucgo commented on #104
Should be fixed.

[2015-11-13 22:10] #104 closed

[2015-11-13 22:16] 10se1ucgo commented on #116
Though, wxPheonix (new implementation of wxPython, also compatible with Python 3) IS indeed located on GitHub, [here](https://github.com/wxWidgets/Phoenix).

[2015-11-14 23:28] Baigle commented on #109
When switching to Win10 that was my biggest problem with it... you have to kill SearchUI.exe and when it starts back up sometimes it will correctly search and display results in the start menu. It can be influenced negatively by some running "security" software (e.g. Trusteer Rapport, Windows Defender, BitDefender, others)...

you could automate the termination of SearchUI.exe by tying a keyboard

[2015-11-15 03:42] MonykaR commented on #109
I did a clean install of Windows 10, reran DWT and made sure nothing interfered with during the uninstall processes, rebooted and everything works fine. Search works! :) Unfortunately, I am really unsure of what went wrong the first time; either I accidentally interrupted the process or the perhaps the disablings that I did manually prior to knowing about DWT had some negative interactive effects

[2015-11-15 20:11] Warudo opened #119 "GUI truncated if display DPI is not 96/default"
If the display DPI is set higher the default of 96, the font size is scaled up, but the Window size isn't.
Some options become unselectable.

![Example](https://cloud.githubusercontent.com/assets/1916368/11170738/3d4822d0-8bdd-11e5-8c66-0fc579030431.png)

[2015-11-18 09:04] Ruined1 opened #120 "Error with function"
I wiped my computer, so I'm unable to fix it at the moment, but
[Line 439](https://github.com/10se1ucgo/DisableWinTracking/blob/master/run.py#L439) of run.py is wrong according to [Line 451](https://github.com/10se1ucgo/DisableWinTracking/blob/master/run.py#L451)

[Line 439](https://github.com/10se1ucgo/DisableWinTracking/blob/master/run.py#L439) needs to provide 2 arguments, not one.

[2015-11-21 17:57] Jaglag opened #121 "bing.com blocked"
Hi
i need bing.com unblocked cause i need the webmaster tools.
I already try to unblock the telemetry.bing but its still not possible to enter the page.
Which thinks i have to unblock to reach bing again?

[2015-11-21 21:52] 10se1ucgo commented on #109
I think it may have had something to do with Windows. After the new cumulative update, all of my search problems are gone.

[2015-11-21 21:52] #109 closed

[2015-11-23 03:13] lenisko commented on #121
Disable __TrackingIP204.79.197.200__ rule in Windows Firewall

[2015-11-24 15:03] luisvsm opened #123 "Uninstalling apps causes collateral damage"
I removed some of the apps listed (from memory it was Calendar & Mail, Get Office/Skype/Started, Groove, Maps, Money, Movies & TV, News, OneNote, People, Phone Companion and Sports) and my Calculator/Windows Store/camera app seem to have been removed with them.

My calculator now looks like this and are no longer clickable:
![My Calculator](https://cloud.githubusercontent.com/assets/2926160/113701

[2015-11-24 16:41] Ruined1 commented on #123
I cannot reproduce this issue after reinstalling a fresh copy of Windows 10 x64 and running uninstall on the latest release of dwt. My calculator is working fine. What version of 10 are you using, also see about section of dwt, which version of dwt are you using?

[2015-11-24 16:42] Ruined1 commented on #123
Keep in mind i applied all fixes, deleted services, and uninstalled all apps

[2015-11-25 18:18] Jaglag commented on #123
i have same problem no store here anymore for me:

http://prntscr.com/96vcpx

[2015-11-25 18:20] Jaglag commented on #121
ty

[2015-11-25 18:20] #121 closed

[2015-11-25 18:42] Jaglag commented on #123
![screenshot_1](https://cloud.githubusercontent.com/assets/6708499/11406259/b45c1fd0-93ac-11e5-82a4-d9debce6d98c.jpg)

:(

[2015-11-26 00:36] refractionpcsx2 commented on #123
Leaving "money" installed leaves the calculator, I can confirm uninstalling this removes the windows calculator as well. If you must remove the money component, you can download the "classic" windows 7 calc from here http://winaero.com/blog/get-calculator-from-windows-8-and-windows-7-in-windows-10/

[2015-12-01 02:39] luisvsm commented on #123
Sorry about the delayed followup, I'll have another go at diagnosing/troubleshooting and reproducing the issue.

[2015-12-01 04:40] refractionpcsx2 commented on #123
I don't think this is your error as using some scripts to do it I found somewhere else also removed the calculator, it may be just a case of updating the labels

[2015-12-01 09:28] NikhajZzz commented on #113
I've accidentaly clicked to reinstall all default apps and now nothing is working. There should be a warning message and having a choice to cancel or apply the operation. I've tried all the night to repair the store, calculator, note, weather...apps but nothing can be reinstalled from powershell. Got red errors. There is actually no solution to repair the problems that DWT causes. Clean boot or re

[2015-12-01 10:39] luisvsm commented on #123
Here's the version that I used:
![version](https://cloud.githubusercontent.com/assets/2926160/11498202/107fc810-9872-11e5-8983-f3f393ce5340.PNG)

I just did another revert on all of the services and reboot for good measure, then selected all apps and clicked Reinstall original apps, without any luck (opened as an elevated process).

Still no DisableWinTracking log, and no relevant Event Viewer log

[2015-12-01 11:43] HLFH opened #124 "MS+NSA tracking renamed to "Connect User Experience and Telemetry service""
Hi,

As [we can see here](http://www.lifehacker.com.au/2015/11/how-to-disable-microsofts-new-spying-service-on-windows-10/), after the November update, MS+NSA tracking have been renamed to `Connect User Experience and Telemetry service`. Does it imply changes for DisableWinTracking?

[2015-12-01 12:00] W4RH4WK commented on #124
@10se1ucgo probably wants to adapt following line:

[code]

Older stuff might still work since they mainly changed the display name (and re-enabled some settings). The original service handle is still the same `DiagTrack`

![image](https://cloud.githubusercontent.com/assets/328798/11500130/65630726-982b-11e5-80f4-4ed8a29a04bd.png)

[2015-12-02 14:47] 10se1ucgo commented on #119
I can fix this by using `wx.BoxSizer`s but I absolutely hate them and it's annoying to get them to be in the layout I want.

 I'll see what I can do.

[2015-12-03 23:49] arnstein99 opened #126 "Some settings are managed by your organization"
In several panels of the Microsoft **Settings** program, I am seeing a message in red text *Some settings are managed by your organization*. My copy of Windows 10 is the Home version and there is no managing organization except me.

I am also seeing that some menu items in Settings/Privacy and Settings/Windows Update are greyed out and inaccessible. The red text is visible in the relevant panels.

[2015-12-04 00:11] 10se1ucgo commented on #126
The "organization" *is* DWT. It modifies group policies to block some stuff. Just set "Allow Telemetry" in gpedit.msc to Enabled and you'll be good to go.

[2015-12-04 00:14] 10se1ucgo commented on #113
The warning is there, in the license. Here's an excerpt.

`Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.`

[2015-12-04 00:21] arnstein99 commented on #126
Hello,

Windows 10 **Home** does not have gpedit.msc in it. I found the /policy/ registry key that corresponds to this item in gpedit.msc. Changing it does cause a change to appear in an item in the Settings app. This item was something similar to "Allow data collection" "None/Basic/Enhanced/Full". However, the red text still appears, and some important settings are still greyed out. Finally, Wind

[2015-12-04 00:23] 10se1ucgo commented on #126
Ah right, well then the revert option should be the way to go then.

[2015-12-07 16:01] NikhajZzz commented on #113
Ok :) And who reads the license today? I know user use this sofware at own risk, no problem....but i still think a warning message should help. See how much people destroyed their OS :) I've done a clean install on my PC and heaven't found any answer for people here, how to repair their damaged OS.

[2015-12-07 16:14] NikhajZzz commented on #123
Had the same problem, the powershell method wont work. I have tried to kill explorer.exe and use the powershell, tried to change the ownership of the apps directory, tried safe mode....none of them works.  Somewhere on the forums i saw a message, the powershell wont work because the apps on the systems are newer then the apps that users try to reinstall - because they are updated... Program Files

[2015-12-08 17:59] Pelt10 opened #127 "Skype conversation group"
Hello,

I'm french, and i'm not very good in english, it's why I escuse me for my bad english.

DisableWinTraking block the server of the Skype conversation group. I don't know what server is.

Pelt10

[2015-12-10 11:31] johnneijzen commented on #127
just revert this one "Block even more tracking domains"

since it can block Skype it even written in tool tip but i wont blame you.

[2015-12-11 17:59] AdKiller opened #128 "OneDrive is still visible"
OneDrive is still visible after applying and rebooting multiple times... Clicking on it doesn't seem to do anything. It appears in File Save-As window of Firefox, Winrar Extraction window. In the main Windows file Explorer, it is sometimes hidden sometimes visible.

**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise): Pro
- Architecture (32bit/64bit): 64
- Options used:  All Privacy Options s

[2015-12-14 10:54] thejynxed commented on #88
With Win8-Win10 Trusted Installer now takes primacy over System or Administrator when it comes to dealing with files, folders & registry keys belonging to the OS itself. Windows Resource Protection is a thing.

[2015-12-15 17:10] bastinado opened #129 "Norton Security insight scan identifies as threat"
Norton's insight file scan identifies DisableWinTracking as a threat.

[2015-12-15 17:30] Talyrius commented on #129
Report it as a false positive.

[2015-12-17 12:25] thenoncoder opened #130 "Add command line switches"
Example : `DisableWinTracking.exe /services delete` deletes tracking services, `/services disable` disables them, etc. Would be a great option so that I can use it in my batch scripts.

The main usage of this for me would be to run the app with the switches every while using task scheduler, as Microsoft tends to edit/rename services with each update. Would be even better for you to add it in the a

[2015-12-17 12:29] ghost opened #131 "On/Off switch instead of checkbox + switch font to Segoe UI"
Looks cooler imo, I mean something like the Win10 settings app on/off switch, and then Segoe UI just for more swag. It's not really needed, but would still be cool. Perhaps also  remove the useless buttons in the About/Help menu and have it all in  one page.

[2015-12-17 15:01] W4RH4WK commented on #131
Sounds like we need a `--swag` commandline option.

[2015-12-17 16:06] thenoncoder commented on #131
Yeah, we need DisableWinTracking to look as cool as the new Settings app.

[2015-12-20 03:35] PowerPress opened #132 "Export GPOS & Scripting"
I love the idea of this app. Could you add an option to export these settings to GPO's so they could be used in a domain environment? Also any chances of creating command line based options so this could be scripted for mass use?

[2015-12-26 01:03] arnstein99 opened #133 "Block 64.4.54.254 ?"
I noticed that my copy of Windows 10 was hitting this IP address a lot, and I certainly have no interest in it. From VirusTotal: https://www.virustotal.com/en/ip-address/64.4.54.254/information/

VirusTotal's passive DNS only stores address records. The following domains resolved to the given IP address.
2015-09-17 web.vortex.data.microsoft.com
2015-07-29 vortex-win.data.metron.live.com.nsatc.net

[2015-12-27 05:02] trinsic1 opened #134 "onedrive uninstall does not work."
**INFORMATION:**

* Windows Edition: Pro
* Architecture: 64bit
* Options used: uinstall onedrive

ticking uninstall one drive does not work. I Still see the one drive entry in explorer and I can open "onedrive for business" when I go to my start menu.
**LOG:**

[code]

[2015-12-27 05:03] trinsic1 commented on #134
Never mind, one drive for business comes with Office 2016.

[2015-12-27 05:03] #134 closed

[2015-12-27 11:56] CAJIO commented on #127
I suffered for a long time. Indicate so on the main page.

[2015-12-28 11:26] Bnaya opened #135 "[Feature request]Add option to disable/enable windows automatic updates"

[2015-12-28 13:15] W4RH4WK commented on #135
As far as I know there is no easy way to disable automatic updates, I have the Windows Update Service disabled by default and run a script every now-and-then by hand which:

1. enables the service
2. checks and installs updates in an interactive fashion
3. disables the service
4. reboots

[2015-12-29 02:45] fitzha commented on #133
Can someone review my changes and push to master if they're correct?
I'm new to Github and not 100% sure how this works :\
thanks

[2015-12-31 11:36] fruchty opened #137 "Computer is stuck after boot with a black screen"
After the boot animation in Windows 10, with the little white dots circling, the boot stops with a black screen where you cannot do anything.

I have used the latest available version and tried disabling all tracking options, except extended blocking via HOSTS file.

EDIT: The computer started normally after I unplugged it from the internet. I'm guessing this is somewhat related to me using my out

[2015-12-31 13:29] xtra7973 opened #138 "WifiSense/Defender: Unable to modify Windows Defender Spynet key"
**INFORMATION:**

* Windows 10 Pro
* Architecture 64bit
* Options used: Disabled all tracking

**LOG:**

[code]

[2016-01-06 23:34] MrSquib commented on #138
Same thing happened to me.

[2016-01-10 00:50] 10se1ucgo commented on #138
Duplicate of #88

[2016-01-10 00:50] #138 closed

[2016-01-10 02:36] wal-f opened #139 "Files writes not verified"
**INFORMATION:**

* Windows Edition: Home
* Architecture: 64bit
* Options used: block tracking domains (+more domains)

Hosts file modification was blocked by my antivirus, but DWT did not seem to attempt a read on the 'updated' hosts file to ensure the data was actually written. I ran DWT again with the hosts file protection disabled, but it should have reported an error the first time.

[2016-01-11 05:23] Aldous-Huxley opened #140 "Adding more hosts and IPs to block"
These IP & hosts lists seem to be updated regularly:
https://encrypt-the-planet.com/windows-10-anti-spy-host-file/

[2016-01-11 10:09] fitzha commented on #140
Most are already covered, however when I get some time I'll check if there's the additional one or few that are safe to add.

I don't see any need to block Hotmail, Windows Live or Skype domains.

[2016-01-11 10:11] fitzha commented on #139
If you have third party software that will prevent writing then the onus is really on you, not DWT.

[2016-01-12 12:03] oliclarke opened #141 "Used revert feature so i could use the app store again, however it cant connect to the internet"
Tried to revert so i could use the app store again but doesnt seem to work. Manually removed all extra lines from hosts file and still nothing?

**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise):
* Architecture (32bit/64bit):
* Options used:

**LOG:**

[code]

[2016-01-12 14:47] pentrecode opened #142 "Can't update windows store applications and install/update skype."
Windows Store:
Applications can be updated only with disabled firewall.

Skype:
Do not working text messages.
The application cannot pass installation or update. Error connecting to Skype servers.

[2016-01-12 14:49] pentrecode commented on #142
Disabled: Services, telemetry, bloacked tracking domains and even more tckaging domains and tracking IP addresses/

[2016-01-19 01:37] Tanagashi commented on #142
Same, have bunch of issues with Skype - can't download through the installer, can't update, can't send images or edit messages.

Have pretty much everything uninstalled except for default image viewer. Telemetry and tracking domains are blocked.

[2016-01-20 05:51] zmsp commented on #142
same issue. Might be hosts file?

[2016-01-20 08:07] SPMelly commented on #142
I can't access bing.com now. is this normal?

[2016-01-20 09:56] v998 commented on #142
Windows Search connects to Bing when we type in the box, so it is blocked by the rules we set in Windows Firewall.

`204.79.197.200` is the IP address of Bing

see https://github.com/10se1ucgo/DisableWinTracking/blob/master/run.py#L302

[2016-01-20 17:44] wfingerdo commented on #141
I had this same problem, I had to reset the network adapter and other stuff, this brought back network connectivity, but there was still a yellow "splat" on the network adapter as it thought there was no connectivity.  I tracked it down to the IP / DNS that Microsoft uses to check to see if there is internet connectivity was blocked by DisableWinTracking.  Its "network awareness" / NCSI.  Last exa

[2016-01-20 17:51] oliclarke commented on #141
Interesting,  I never lost connectivity,   for the whole pc.  I managed to solve my issue by manually removing the blocks in Windows Firewall.

These seemed to have been leftover by the revert feature.

Hopefully someone will find this info useful.

[2016-01-20 20:37] wfingerdo commented on #141
I have used DisableWinTracking on about 100 tablets and 50 laptops 20-30 desktops, most were "upgraded" from Win7,  I only had this issue happen once and it was with a Broadcom chipset.  Who knows why it has happened this time and not before, maybe something to do with the order which I did things, weather or not the computer was connected to the internet before I ran the DisableWinTracking....etc

[2016-01-23 00:30] Sup3rLativ3 opened #143 "WifiSense/Defender: Unable to modify Windows Defender Spynet key."
**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise):
* Architecture (32bit/64bit):
* Options used:

**LOG:**

[code]

[2016-01-23 12:57] Jeansen opened #144 "Replace with a short description of your problem"
**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise):
* Architecture (32bit/64bit):
* Options used:

**LOG:**

[code]

[2016-01-23 14:54] crazy-max opened #145 "Separated hosts file"
Hi,

Can you provide on your repository a separated hosts file so we can use this file with an app like HostsMan ?

Thanks!

[2016-01-25 12:17] ricorius opened #146 "doesnt work anymore with win 10"
you should update program

[2016-01-26 10:53] v998 commented on #146
and you should describe the issue more specifically

any screenshots? errors? warnings?

[2016-01-28 03:25] 10se1ucgo opened #147 "I don't work on this anymore."
As you can see, issues are piling up. I just want to tell you guys that I don't work on this anymore.

It's been a fun run, but if anyone with eyes and a brain looks at and reads the code they'll immediately see how bad it is. Not only that, this project has really attracted a whole lot of tin foil hattists (if that's not a word, it is now) while my only goal for this project was to make a neat lo

[2016-01-29 13:24] srguglielmo commented on #147
Could you update `README.md`? Many people don't read the issues and just view the project page. They would miss that it's no longer being developed.

[2016-01-29 13:31] 10se1ucgo commented on #147
Done

[2016-01-31 03:23] jeski opened #148 "Replace with a short description of your problem"
**INFORMATION:**

* Windows Edition (Home):
* Architecture (64bit):
* Options used:

**LOG:**
Not sure if this is a problem or not, so I posted it. Everything else looks good.
WifiSense/Defender: Unable to modify Windows Defender Spynet key.
WifiSense/Defender: Unable to modify Windows Defender Sample Submission key.

[code]

[2016-01-31 03:23] jeski commented on #148
Not sure if this is a problem or not, so I posted it. Everything else looks good.
WifiSense/Defender: Unable to modify Windows Defender Spynet key.
WifiSense/Defender: Unable to modify Windows Defender Sample Submission key.

[2016-01-31 19:54] 10se1ucgo commented on #148
Known issue. However, see #147.

If anyone would like to look into why this is happening, feel free.

[2016-02-04 12:19] wal-f commented on #139
Half right. Average users aren't going.to understand that your software didn't work. When writing something that modifies sensitive system files which are routinely protected by other software, it's a bit naive to think that you're writes will work and that if they don't it's not DWT's problem.

Not BitDefender.

[2016-02-04 22:52] 10se1ucgo commented on #139
#147

[2016-02-04 22:52] #139 closed

[2016-02-07 03:09] militarist75 opened #149 "Replace with a short description of your problem"
**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise):
* Architecture (32bit/64bit):
* Options used:

**LOG:**

[code]

[2016-02-07 16:31] Svetomech commented on #146
Eeyup, 'casue works for me just fine.

[2016-02-09 08:40] AdKiller commented on #147
I wish an open source solution to Windows 10 spyware issues would arise... I would step up if I had the programming knowledge. oh well, thanks for the work so far.

[2016-02-11 18:30] Johandrex commented on #147
Thanks for your hard work, could anyone take over this project thought?

[2016-02-11 19:34] 10se1ucgo commented on #147
If anyone would like to submit pull requests, I will gladly review them and merge. I'll also compile builds for major pull requests. If someone would like to fork it and do things their way, I will provide a link in the README.

[2016-02-12 17:32] Johandrex commented on #142
How do I fix this.. unable to revert

[2016-02-17 21:27] hulr commented on #147
I created a similar tool completely in PowerShell, check it out if you like.

[2016-02-18 00:35] war59312 commented on #147
@hulr Link?

[2016-02-18 00:39] TheNain38 commented on #147
@war59312 https://github.com/hulr/BetterPrivacy

[2016-02-18 00:42] war59312 commented on #147
That's odd. 6 minutes ago it was not there. Damn unicorns again. ;)

But Ok, thanks.

[2016-02-20 03:59] #137 closed

[2016-02-20 09:17] ricorius commented on #146
https://github.com/10se1ucgo/DisableWinTracking

No longer being developed, see issue #147.

This may no longer thoroughly disable all tracking, as some services have been added or have had their names changed. See Issue #124.

[2016-02-23 01:33] #133 closed

[2016-02-23 01:34] 10se1ucgo commented on #145
https://gist.github.com/10se1ucgo/fcb774d781a66ea9d31f

[2016-02-23 01:34] #145 closed

[2016-02-23 17:29] jmaheswararaj opened #151 "Not all programs were reinstalled..! pls help"
Hi,
I'd run the exe & wanted to revert to old setting (since i was missing some app like calculator etc. So don't know how to download the necessary other apps as well).

* Windows Edition (Home/Pro/Enterprise): Home
* Architecture (32bit/64bit): 64 bit
* Options used: All built in apps except camera & "Uninstall One drive"

**LOG:**

[code]

[2016-02-25 00:55] jsysenkham commented on #151
IIRC this person has stopped working on this project. but looking at the line where it says the access is denied to the host file.  This tells me that you do not have the application running as an Administrator.

*To get your programs back you can run PowerShell as an Administrator and use this command
'Get-AppxPackage -AllUsers| Foreach {Add-AppxPackage -DisableDevelopmentMode -Register “$($_.Ins

[2016-03-05 19:01] 10se1ucgo commented on #147
I'm most likely going to update this to fix a number of issues (e.g. scaling, freezes)
I've worked on some projects since the beginning of this which has taught me a lot. I've finally learned to use wxSizers and will be splitting up the files into a more organized layout.

[2016-03-08 22:20] 10se1ucgo commented on #147
Okay, the first step here is to rewrite all of the GUI code (by hand, obviously)

I will be working on this in the coming days (whenever I have free time)

[2016-03-09 21:33] 10se1ucgo opened #153 "Rewrite"
It's time for a rewrite.

I'm currently working on rewriting the GUI to scale properly.
Took me about ~15 minutes to get this so far: http://i.imgur.com/uasZPjO.png
Scales properly, too.

More in the coming days, hopefully.

- [ ] Re-write GUI
    - [x] Main frame
        - [x] Add all widgets
        - [ ] Make them do something
    - [x] About dialog
    - [ ] Settings dialog
    - [x] Console d

[2016-03-09 21:49] 10se1ucgo commented on #153
Another 10 and we got http://i.imgur.com/wDy5MqL.png

[2016-03-09 21:50] 10se1ucgo commented on #119
Finally got around to start doing this, #153

[2016-03-09 21:51] 10se1ucgo commented on #131
* Font is default system font. It should be Segoe UI. wxMSW is native.
* I don't think wxMSW supports that style of Metro UI.
* Rewrite being worked on now, #153

[2016-03-09 22:57] 10se1ucgo commented on #153
about dialog + menu bars
http://i.imgur.com/8N58c9p.png

[2016-03-10 00:05] 10se1ucgo commented on #147
#153

[2016-03-10 00:05] #147 closed

[2016-03-10 01:04] 10se1ucgo commented on #153
http://i.imgur.com/DTALa5d.png

[2016-03-10 02:31] 10se1ucgo commented on #153
Base UI complete!
http://i.imgur.com/LwAXsKq.png http://i.imgur.com/ZXKPNXw.png

[2016-03-10 20:58] Svetomech commented on #153
Cool.

[2016-03-10 21:42] harryrlees commented on #153
Awesome. I use this for every clean install, keep it up dude

[2016-03-13 10:16] loskutov commented on #153
Will it be written in Python anyway? It’s a little bit strange to have pretty much dependencies for such a small utility...

[2016-03-13 13:09] ghost opened #154 "Add commandline parameters."
Eg: `-slient` runs the app without a UI displayed.

`-noservices` deletes services.

`-domains` blocks tracking domains.

, Etc.

[2016-03-13 17:01] 10se1ucgo commented on #154
Sure. It'll be implemented for the rewrite.

[2016-03-13 17:04] 10se1ucgo commented on #153
Yes, it's still written in Python. It also doesn't have many dependencies, so I'm not really sure what you mean. wxPython for the GUI and PyWin32 for accessing the Win32 API

[2016-03-14 16:29] thenoncoder commented on #154
Thanks!

[2016-03-19 15:45] highstrike commented on #153
I just want to say `Thank you` for continuing this project. I appreciate all the hard work you put into this. Thank you, once again :bow:

[2016-03-19 17:17] #153 closed

[2016-03-19 17:18] 10se1ucgo commented on #153
Done.

[2016-03-19 17:18] 10se1ucgo commented on #154
Opening until I implement this

[2016-03-19 17:19] 10se1ucgo commented on #151
Run program as administrator.

[2016-03-19 17:19] #151 closed

[2016-03-19 17:19] 10se1ucgo commented on #149
No info.

[2016-03-19 17:19] #149 closed

[2016-03-19 17:19] 10se1ucgo commented on #144
No info.
I need the full disablewintracking.log file

[2016-03-19 17:19] #144 closed

[2016-03-19 17:20] #148 closed

[2016-03-19 17:20] 10se1ucgo commented on #146
Fixed

[2016-03-19 17:20] #146 closed

[2016-03-19 17:20] 10se1ucgo commented on #142
Revert the `Block even more tracking domains` option.

[2016-03-19 17:20] #142 closed

[2016-03-19 17:21] 10se1ucgo commented on #124
Fixed

[2016-03-19 17:21] #124 closed

[2016-03-19 17:22] 10se1ucgo commented on #107
No response.

[2016-03-19 17:22] #107 closed

[2016-03-19 17:23] 10se1ucgo commented on #114
Fixed.

[2016-03-19 17:23] #114 closed

[2016-03-19 17:23] 10se1ucgo commented on #120
Fixed.

[2016-03-19 17:23] #120 closed

[2016-03-19 17:24] 10se1ucgo commented on #123
#113

[2016-03-19 17:24] #123 closed

[2016-03-19 17:24] 10se1ucgo commented on #141
#113

[2016-03-19 17:24] #141 closed

[2016-03-19 17:26] 10se1ucgo commented on #143
#88

[2016-03-19 17:26] #143 closed

[2016-03-19 17:27] 10se1ucgo commented on #131
Invalid for the reasons above. Also, #119 fixed (hopefully) with rewrite.

[2016-03-19 17:28] 10se1ucgo commented on #130
#154

[2016-03-19 17:28] #130 closed

[2016-03-19 17:28] 10se1ucgo commented on #129
False-positive

[2016-03-19 17:28] #129 closed

[2016-03-19 17:29] 10se1ucgo commented on #126
Use the `revert` mode.

[2016-03-19 17:29] #126 closed

[2016-03-19 17:29] 10se1ucgo commented on #127
Revert `Block even more tracking domains`.

[2016-03-19 17:29] #127 closed

[2016-03-19 17:29] 10se1ucgo commented on #119
Should be fixed.

[2016-03-19 17:29] #119 closed

[2016-03-19 17:32] 10se1ucgo commented on #132
I don't think I can export the settings to GPO's, but I will add command line options. #154

[2016-03-19 17:32] #132 closed

[2016-03-19 20:37] WillPresley commented on #153
@10se1ucgo Any reason I'm not seeing the new rewritten version in releases? Or is it just not up yet? Either way, thanks for the tool and congrats on finishing the rewrite!

[2016-03-19 20:38] 10se1ucgo commented on #153
Oops, I forgot to build the exe. Will do in a bit.

[2016-03-19 21:59] 10se1ucgo commented on #153
@WillPresley https://github.com/10se1ucgo/DisableWinTracking/releases/tag/v3.0

[2016-03-20 22:47] miri4ever opened #156 "Lots of error messages in 3.0"
**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise):
* Architecture (32bit/64bit):
* Options used:

**LOG:**

[code]

[2016-03-20 23:33] war59312 commented on #151
Should make it always run as admin using manifest file so this does not happen:

https://stackoverflow.com/questions/2818179/how-to-force-my-net-app-to-run-as-administrator-on-windows-7

Should be a good start.

[2016-03-20 23:34] 10se1ucgo commented on #151
There used to be. Latest version of pyinstaller broke manifests.

[2016-03-20 23:35] 10se1ucgo commented on #156
huh. weird. ill look into it

[2016-03-20 23:39] war59312 commented on #151
Issue # ? See old reports but all marked fixed.

Just curious. Thanks.

[2016-03-21 18:26] warmbaguettes opened #157 "Not working correctly when launching as Admin?"
**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise): Enterprise
* Architecture (32bit/64bit): 64
* Options used: Delete all services

**LOG:**

Don't have

Since installing Windows, I ran the application with administrator privileges, uninstalled apps and deleted services, log threw no errors so I assumed it worked. But there still was the OneDrive icon in explorer.

Yesterday I got a bit wo

[2016-03-21 20:23] 10se1ucgo commented on #151
https://github.com/pyinstaller/pyinstaller/issues/1729

[2016-03-21 21:47] war59312 commented on #151
Thanks

[2016-03-21 23:59] WillPresley commented on #156
FWIW, I am having the same issues with 3.0.

[2016-03-22 00:09] 10se1ucgo commented on #156
[Yup, I know why, I fixed a similar issue I had with pyjam this way](https://github.com/10se1ucgo/pyjam/commit/08b8bf6d097110817e4b61ae4ddd64d42489b8ef)

I'll push a commit once I'm not lazy

[2016-03-22 11:42] HLFH commented on #157
Same issue...

[2016-03-24 10:47] Stephan35 commented on #157
Hi,
Here is a message , Fatal Error! Failed to execute script dwt.

thanks

[2016-03-24 15:43] 10se1ucgo commented on #157
Read the release notes. It literally says "EVERYTHING IS BROKEN"

[2016-03-24 17:48] #156 closed

[2016-03-24 19:01] WillPresley commented on #156
Nice! Thanks for fixing this stuff up. I'm away from my build env. at the moment, any chance we could get an updated executable? I have no idea how long that takes on your side, so if not it's not a worry.

[2016-03-24 19:11] 10se1ucgo commented on #156
Will do in a little bit

[2016-03-24 19:37] 10se1ucgo commented on #156
Having some issues with building, might not be able to until tomorrow.

[2016-04-01 11:40] ElPumpo opened #158 "Outdated package names for uninstall apps"
In the latest Insider builds, some apps have been renamed, for example:

- Microsoft.ZuneVideo
- Microsoft.Office.Sway (new app)
- Microsoft.BingSports
- Microsoft.Office.OneNote (new app)
Some more, two Skype apps, a "Get Office" app, etc.
http://pastebin.com/2QvJ7yT3

[2016-04-01 11:41] ElPumpo commented on #128
To developer:
https://github.com/ElPumpo/onedrive-uninstaller this script uninstalls OneDrive.

[2016-04-05 12:00] thenoncoder commented on #154
Thanks!

Ever though about Powershell/C++'s `FileSystemWatcher`?

It's like Task Scheduler except it only runs when the files are actually changed.

That way, it'll keep monitoring the stuff it disabled, and keep disabling them whenever they change.

[2016-04-05 12:04] thenoncoder commented on #135
Is it possible to manually set them to "Download now, install when prompted" or "Ask before downloading" kind of options that Windows 7/Windows 8 had?

[2016-04-10 12:49] BenUtzmich opened #159 "CRITICAL: Traceback"
**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise):
* Architecture (32bit/64bit):
* Options used:

**LOG:**
14:44:26 INFO: Python 3.5.1 (v3.5.1:37a07cee5969, Dec  6 2015, 01:38:48) [MSC v.1900 32 bit (Intel)] on win32
14:44:26 INFO: uname_result(system='Windows', node='C3P0-R2D2', release='10', version='10.0.10586', machine='AMD64', processor='Intel64 Family 6 Model 60 Stepping 3, GenuineIn

[2016-04-11 11:09] MarcinJanowski commented on #156
Hello, i have similary error:
[code]

[2016-04-19 14:49] stopthespying commented on #88
Microsoft is locking us out and even if like me you write some code to give the administrator rights to WinDefend keys then you still cannot change the startup of the service.

Yes sure Microsoft can ban on about security when i want to delete details about a pen-stick that's saved to the registry and cannot gain access to delete it because windows is part of the NSA and it's all about spying on t

[2016-04-22 16:54] Chciken12 opened #160 "dwt.py error line 254 in go "handle is invalid""
**INFORMATION:**

* Windows Edition (Home):
* Architecture (64bit):
* Options used: As Administrator

**LOG:**

[code]

[2016-04-24 23:47] kcomp1863 opened #161 "Fatal Error!"
**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise): Windows 10 TH2
* Architecture (32bit/64bit):64bit
* Options used:attempted to run "as administrator"

**LOG:**

[code]
Receive a fatal error everytime stating: "Failed to execute script dwt" Won't open to generate a dwt log.

[2016-04-25 05:38] bratikha commented on #161
Windows 10.0.10240 SL
 x64-based PC
i have this error too :(
![fe](https://cloud.githubusercontent.com/assets/6857762/14774651/92410e4c-0b0c-11e6-8892-e1bba75f6e66.png)

[2016-04-25 18:18] 10se1ucgo commented on #161
Porting to Python 2, pyinstaller has issues with Python 3 for some reason.

[2016-04-25 18:21] kcomp1863 commented on #161
Huh? I'm not understanding your response, with regard to the reported problem. What's this Python 2 and 3?

[2016-04-25 18:27] 10se1ucgo commented on #158
Thanks. I'll add them to the next update.

[2016-04-25 18:35] 10se1ucgo commented on #161
This is happening because PyInstaller has some issues with loading the GUI DLLs. This only happens with Python version 3+. I'll backport DWT to Python 2 and upload a fix in a couple of minutes.

[2016-04-25 19:46] 10se1ucgo commented on #161
Fixed in ada20b4. Uploading release as soon as I get my virtualenv running.

[2016-04-25 19:46] #161 closed

[2016-04-25 19:46] 10se1ucgo commented on #160
Fixed in ada20b4. Uploading release as soon as I get my virtualenv running.

[2016-04-25 19:46] #160 closed

[2016-04-25 19:46] 10se1ucgo commented on #159
Fixed in ada20b4. Uploading release as soon as I get my virtualenv running.

[2016-04-25 19:46] #159 closed

[2016-04-25 19:47] 10se1ucgo commented on #158
Most of these already work, but the rest were fixed in ada20b4. Uploading release as soon as I get my virtualenv running.

[2016-04-25 19:48] #158 closed

[2016-04-25 19:48] 10se1ucgo commented on #157
Fixed in ada20b4. Uploading release as soon as I get my virtualenv running.

[2016-04-25 19:48] #157 closed

[2016-04-25 20:09] kcomp1863 commented on #161
Great! I'll look for your new release! Thanks!

[2016-04-25 20:12] 10se1ucgo commented on #161
It'll be here https://github.com/10se1ucgo/DisableWinTracking/releases/tag/v3.0.1 in a little while.

[2016-04-25 20:15] 10se1ucgo commented on #161
Done! Feel free to download. Report anything broken.

[2016-04-25 20:16] 10se1ucgo commented on #160
https://github.com/10se1ucgo/DisableWinTracking/releases/tag/v3.0.1

[2016-04-25 20:16] 10se1ucgo commented on #159
https://github.com/10se1ucgo/DisableWinTracking/releases/tag/v3.0.1

[2016-04-25 20:16] 10se1ucgo commented on #158
https://github.com/10se1ucgo/DisableWinTracking/releases/tag/v3.0.1

[2016-04-25 20:16] 10se1ucgo commented on #157
https://github.com/10se1ucgo/DisableWinTracking/releases/tag/v3.0.1

[2016-04-25 20:16] 10se1ucgo commented on #156
Fixed: https://github.com/10se1ucgo/DisableWinTracking/releases/tag/v3.0.1

[2016-04-25 21:50] kcomp1863 commented on #161
Great! I'll look for your new release! Thanks!

[2016-04-25 21:50] kcomp1863 commented on #161
Looks like it's good to go now!, Thanks!

[2016-04-26 15:49] aschneid1 commented on #157
Still broken for me

[2016-04-26 16:57] ElPumpo commented on #158
So you know, the package names changed yet again in the latest Insider builds.

[2016-04-27 18:42] ElPumpo commented on #158
Here's a updated list on Insider 14332; http://pastebin.com/kdUfUp3t

[2016-04-27 18:50] 10se1ucgo commented on #158
oooof course. thanks.

[2016-04-27 18:51] ElPumpo commented on #158
NOTE: that's a fresh dump directly after updating to Insider 14332.

[2016-04-28 18:37] Laminaat opened #162 "Some errors in log"
**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise): Pro
* Architecture (32bit/64bit): 64bit
* Options used:

Note: Months ago I've used a previous version of this software (not sure what I selected then) but now:

Services
Clear DiagTrack log
Telemetry
Block tracking domains
Block tracking IP addresses
Windows Defender collection
WifiSense

**LOG:**

20:19:11 INFO: Python 2.7.11 (v2.7.11:6d

[2016-04-28 18:43] Laminaat commented on #162
The errors with regards to the hostfiles were caused by Avira antivirus, it blocks access to these files by default.

[2016-04-28 21:06] boldsoon commented on #135
Disable Windows Spying allows this, to disable/enable windows updates.

[2016-04-30 06:47] TigerTraderHK opened #163 "WinTracking v.3 - some errors"
14:35:02 INFO: Python 2.7.11 (v2.7.11:6d1b6a68f775, Dec  5 2015, 20:32:19) [MSC v.1500 32 bit (Intel)] on win32
14:35:02 INFO: ('Windows', 'LaptopG_Vaio', '10', '10.0.10586', 'AMD64', 'Intel64 Family 6 Model 37 Stepping 5, GenuineIntel')
14:35:02 INFO: DisableWinTracking version 3.0.1
14:35:22 CRITICAL: Traceback (most recent call last):
  File "dwt.py", line 258, in hosts_warn
AttributeError: 'Co

[2016-04-30 17:38] drws commented on #161
Running as admin while using 64-bit Windows 10.0.10586 on x64 hardware still produces the same error in v3.0.1 (release downloaded a few minutes ago from this site)...

[2016-05-03 13:39] mrHJS opened #164 "An error has occured - Latest version won't work"
**INFORMATION:**
DWT won't work. After having started it with elevated rights I get an error message telling me something about the python script.

* Windows 10 Enterprise
* 64bit
* Latest version 3.0.1 of DWT

**LOG:**

[code]

[2016-05-03 20:40] 10se1ucgo commented on #164
Ignore it. Seems like urllib2 can't find the SSL certificate for the update checker (it connects to GitHub w/ HTTPS). Not a big deal, it just means you'll have to manually check for updates.

[2016-05-03 20:40] #164 closed

[2016-05-04 18:36] mrHJS commented on #164
When I click ignore, I get another error message: Failed to execute script dwt

[2016-05-05 11:05] mrHJS opened #165 "Failed to execute script dwt"
As my other thread was closed too early (https://github.com/10se1ucgo/DisableWinTracking/issues/164) I open this one.
After I click ignore I get a new error message "Failed to execute script dwt" - the program closes by itself. There are no other entries in the dwt.log than the ones mentioned in the other thread.

**INFORMATION:**
- Windows 10 Enterprise
- 64bit
- Options used:

**LOG:**

[code]

[2016-05-08 15:10] bni opened #166 "Dependency on old Visual C++ Redist"
**INFORMATION:**
I get the error msvcr100.dll is missing. I guess this is because I don't have "Visual C++ 2010 Service Pack 1 Redistributable Package" installed. I dont feel like installing this ancient library on my computer. Why does DisableWinTracking require such an old runtime? It could depend on Visual C++ 2015 redist instead.

* Windows Edition (Home/Pro/Enterprise): Pro
* Architecture (32

[2016-05-08 21:46] 10se1ucgo commented on #166
There are very little programs that have even begun to use msvc140. Most of them use old ones like 2012 or sometimes 2010. It's a requirement for Python 2 w/ Pyinstaller. I would use 2015 (I'd have to use Python 3) but pyinstaller + wxPython on Python 3 doesn't work on some machines.

[2016-05-08 21:46] #166 closed

[2016-05-08 21:48] 10se1ucgo commented on #162
This is normal behavior if you've already used the program. You can ignore these.

[2016-05-08 21:48] #162 closed

[2016-05-10 16:57] joshuatee opened #168 "Windows Defender reports Trojan: Win32/Pocyx.C!cl"
Windows Defender reports [Trojan: Win32/Pocyx.C!cl ](https://www.microsoft.com/security/portal/threat/encyclopedia/entry.aspx?name=Trojan%3AWin32%2FPocyx.C!cl)

[2016-05-10 17:22] 10se1ucgo commented on #168
Can't do much about that. Though, if you're sceptical you can reverse the binary with pyinstxtractor and decompile the pyc files.

[2016-05-11 07:18] JorisBolsens opened #169 "Cant update win defender"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise):
- Architecture (32bit/64bit):
- Options used:

**LOG:**

[code]

[2016-05-11 07:20] JorisBolsens commented on #168
same issue, even with windows defender real-time turned off, it still kept removing it while i was trying to run it.

Had to add an exclusion for the folder before it would let me run it.

[2016-05-12 21:25] Esgariot opened #170 "Trojan:Win32/Pocyx.c!cl warning from Windows Defender. Just me?"
File Downloads\dwt-3.0.1-cp27-win_x86\DisableWinTracking.exe triggers Windows Defender with
Trojan:Win32/Pocyx.c!cl warning. Has anyone else had similar experience?

[2016-05-12 21:33] #170 closed

[2016-05-12 22:21] 10se1ucgo commented on #170
No worries! :)

[2016-05-14 16:43] notnola opened #171 "Access Denied While Attempting Changes"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise): Windows 10 Enterprise LTSB N 2015 (All major updates/preboot malware protection disabled/driver verification disabled)
- Architecture (32bit/64bit): 64bit.
- Options used:![image](https://cloud.githubusercontent.com/assets/9591067/15269581/5a7bd3ce-19d1-11e6-84aa-5b53539515fe.png)

**LOG:**

[code]

[2016-05-15 02:47] 10se1ucgo commented on #166
Also, if you think that's bad, look at [Maya](http://i.imgur.com/MS14UI3.png).

[2016-05-19 09:19] tobeorla commented on #163
I'm also getting that error (executed as Admin):
`11:14:44 ERROR: DiagTrack: Failed to clear DiagTrack log -- could not take ownership of file
Traceback (most recent call last):
  File "dwt_util.py", line 92, in clear_diagtrack
  File "dwt_util.py", line 263, in subprocess_handler
CalledProcessError: Command '['takeown', '/f', 'C:/ProgramData/Microsoft/Diagnosis/ETLLogs/AutoLogger/AutoLogger-Diagt

[2016-05-20 21:59] rfnx commented on #168
https://www.virustotal.com/fr/file/d4c00704e0888c2b630b9fc61ca93ca222ad30767c6f998f219e96075a12ebfe/analysis/1463780795/ why ?

[2016-05-20 22:35] 10se1ucgo commented on #168
Because those 3 are unreliable chinese anti-viruses?

[2016-05-20 22:35] #168 closed

[2016-05-21 04:21] nextgenthemes commented on #165
I have the exact same problem.

Version 3.0.1 on fresh win 10 x64 pro install.

1. First I got windows defender detect it as trojan, I allowed it.
2. Then the ssl error that generated the dwt logfile.
3. Then the "can not execute script dwt" error.

[2016-05-21 06:25] woojoo666 commented on #171
same issue with the Diagnostic log, though I didn't try to uninstall onedrive so don't know about that one

[2016-05-21 14:31] petsto opened #173 "Permission denied for hosts"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise):
- Architecture (32bit/64bit):
- Options used: Used with Run as Administrator

**LOG:**

15:30:30 ERROR: Hosts: Failed to modify hosts file
Traceback (most recent call last):
  File "dwt_util.py", line 231, in host_file
IOError: [Errno 13] Permission denied: 'C:\Windows\System32/drivers/etc/hosts'

[2016-05-23 11:04] wodim commented on #166
This should be addressed in some way. This app does not run in a clean installation of Windows 10. This is not acceptable. You should at least have a link to the required redistributable from the page that lists the releases.

[2016-05-23 12:14] 10se1ucgo commented on #166
Get off your high horse pal, I'm not asking people to run this program.

[2016-05-23 12:32] wodim commented on #166
Yeah dude you don't ask anybody to use your software and you can do whatever you want and I have no rights to complain and blablabla. That's fine to me. Now fix the problem.

[2016-05-23 12:34] 10se1ucgo commented on #166
lol, there is no way to fix the problem. Complain elsewhere. Again, get off your high horse.

[2016-05-23 12:37] wodim commented on #166
Of course there is a way to solve it:

Or link against a VC++ runtime from this century (Windows 10 comes with a few ones, but not 2010's).

Take off your horse blinders.

[2016-05-23 12:38] 10se1ucgo commented on #166
I explained this before.

[2016-05-23 12:47] wodim commented on #166
Then recompile Pyinstaller yourself, linking it against a more recent version of the VC++ runtime.

[2016-05-23 12:50] 10se1ucgo commented on #166
Next your gonna tell me to compile Python 2.7 myself, and then wxPython (and then even PyWin32) because they run on 2008. Mmm, nah.

[2016-05-23 12:54] 10se1ucgo commented on #166
Also, if you read the text under "License" in the README, you'd find this block of text:

[code]

[2016-05-23 12:55] wodim commented on #166
If you read my previous comments, you'll find this block of text:

[2016-05-23 12:56] 10se1ucgo commented on #166
If you red the comment before yours, to you'd notice that I don't have to do shit for you. Especially not when you're being a rude fuck.

[2016-05-27 07:39] TeoTwawki opened #174 "Windblows Defender telling users the exe contains a trojan"
**INFORMATION:**

`win32/pocyx.C!cl`
in the version 3.0.1  release - I presume that is just MS trying to scare ppl away from using this.

The are also wiping out my changes after reboot, even after I nuked win defender and ran as admin. I believe that is from the update the OS just did..

Thought you'd want to know they are getting more aggressive about the spyware in the OS..

* Windows Edition (

[2016-05-28 18:35] MSaIim opened #175 "Unable to open application. Error 0xc000007b"
I just downloaded v3.0.1 and am unable to run it. I get this message:

![](http://i.imgur.com/3DxKAAg.png)

I tried running as administrator and without. Same error both times. I am using Windows 10 Pro 64bit. There are no logs to post. I just get that window pop up.

[2016-05-30 07:49] hmksq commented on #128
Same here.
I once tried to remove it manually, but it came back.
Can reproduce.

[2016-05-30 07:50] hmksq commented on #175
I have no issues on Windows 10 Pro 64 bit. Not sure where the problem would be.

[2016-05-31 03:00] ageisen2000 opened #176 "Issue with windows defender. It said that this EXE is a trojan and would not allow me to execute"
**INFORMATION:**

* Windows Edition (Pro):
* Architecture (64bit):
* Options used:

**LOG:**
N/A but I've included below

[code]

[2016-06-01 01:15] ageisen2000 commented on #174
Can we get some sort of explanation for this please?

[2016-06-01 20:52] 10se1ucgo commented on #176
168

[2016-06-01 20:52] #176 closed

[2016-06-01 20:52] 10se1ucgo commented on #174
#168

[2016-06-01 20:52] #174 closed

[2016-06-01 21:02] TeoTwawki commented on #174
Strange, I know I did a search before bothering to open this, yet there sits proof it had already been reported. Sorry bout that!

[2016-06-01 21:10] 10se1ucgo commented on #174
lol, no worries :)

[2016-06-02 14:42] ageisen2000 commented on #176
Sorry about that. Didn't realize another ticket was opened already.

[2016-06-02 16:38] 10se1ucgo commented on #176
Don't worry, it's no problem.

[2016-06-05 02:44] nextgenthemes commented on #165
Just wanted to add that after a reboot it went well, may have to do with the c++ redistributes I installed or other things I did.

[2016-06-05 21:13] PWN1109 commented on #175
https://www.microsoft.com/en-us/download/details.aspx?id=8328
It has to be 32-bit version

[2016-06-06 14:55] bmarkey opened #177 "Missing dll"
Windows 10 pro
Version 1511
OS-Build 10586.318
64 bit

Ran as administrator

Error:
The program can't start because msvcr100.dll is missing from your computer.

[2016-06-06 20:18] IceLancerSR opened #178 "This ip should not be blocked"
**INFORMATION:**

* Windows Edition (Enterprise):
* Architecture (64bit):
* Options used:
Privacy
**LOG:**

[code]
[Used for Downloading]
191.232.139.2
Blocking this IP prevents windows store from downloading anything from it.
Trowing error: Error 0x80240438
Either add as option to block/not block , or remove from blocking?

[2016-06-06 20:33] 10se1ucgo commented on #178
There are options already.

[2016-06-06 20:33] #178 closed

[2016-06-06 20:37] IceLancerSR commented on #178
What do u mean there are options?that ip is not listed in IP adresses to be blocked nor do i see option to click for this specific one anywhere.

[2016-06-06 20:37] Daniil1288 commented on #177
probably this:
https://github.com/10se1ucgo/DisableWinTracking/issues/166

if so, then download:
https://www.microsoft.com/en-us/download/details.aspx?id=8328

[2016-06-06 20:38] 10se1ucgo commented on #178
If the IP is not in the settings, then it's not blocked by DWT.

[2016-06-07 22:33] feldrim opened #179 "DiagTrack: Failed to clear DiagTrack log"
**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise): W10 Home
* Architecture (32bit/64bit): 32-Bit
* Options used: All checkboxes set to disable in privacy mode.

**LOG:**

[code]

[2016-06-08 10:25] ghost opened #180 "The best way to block tracking and privacy invasion."
**Why Microsoft want user data?**
- For selling it to 3rd party companies
- Tracking user activity for better Ad delivery
- And make huge bucks out of it.

**Best way to defend.**
- It is impossible to block data collection. Even after using this tool, I could see data being sent to Microsoft servers. For Microsoft, the little data is valuable. They can still make money from it.
- The best way is

[2016-06-09 17:20] Ikeruga opened #181 "Errors with DiagTrack"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise): Windows 10 Pro
- Architecture (32bit/64bit): 64 bit
- Options used: Services, Clear DiagTrack log, Telemetry, Block Tracking Domains, Block Tracking IP Addresses, Windows Defender Collection, WifiSense, Uninstall OneDrive

**LOG:**

[code]

[2016-06-10 00:06] duaneking commented on #48
Any updates?

[2016-06-11 02:56] DVLP commented on #180
As the guy in this video https://www.youtube.com/watch?v=u1kGMCfb2xw says
use Spybot Anti-Beacon to block outgoing traffic. https://forums.spybot.info/downloads.php?id=55

Can you confirm if this stops you seeing that traffic you wrote about?

[2016-06-11 16:20] GSCGameshow opened #182 "Multiple Errors"
**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise):
* Architecture (32bit/64bit):
* Options used:

**LOG:**

[code]

[2016-06-11 17:49] VitaminX4 commented on #180
I can't do the tests since I'm travelling now, but will do it once I return home. But the Spybot website did say that Anti-Beacon blocks "any known tracking features included by Microsoft in the operating system". That is the concerning part. Like @Barnacules mentioned in a earlier video how Microsoft pushes update packages into the PC, it is easy for them to bypass everything we throw at it.

Its

[2016-06-12 22:51] grawlinson commented on #182
I can also repro this with pretty much the same log being output.

[2016-06-13 00:19] 10se1ucgo commented on #182
First error is normal, especially if you've run the program before. Last ones are an issue with permissions, I have yet to find (or try to find, to be completely honest) a solution.

[2016-06-13 00:21] 10se1ucgo commented on #182
Closing, as we have an open issue for this.

[2016-06-13 00:21] #182 closed

[2016-06-13 00:21] 10se1ucgo commented on #179
Normal if you've run the program before.

[2016-06-13 00:21] #179 closed

[2016-06-13 00:24] 10se1ucgo commented on #177
@Daniil1288 is correct.

[2016-06-13 00:24] #177 closed

[2016-06-13 00:25] 10se1ucgo commented on #175
Never encountered this before. I'll try to reproduce this on a VM some time.

[2016-06-13 00:26] 10se1ucgo commented on #173
Have you ran the program before?

[2016-06-13 00:29] 10se1ucgo commented on #171
All normal if you've run the program before. Have you?

[2016-06-13 12:15] bmarkey commented on #177
That did it, thanks all.

[2016-06-14 07:39] neuhaus commented on #180
I think a program to contaminate the data should be a separate project

[2016-06-14 07:40] neuhaus commented on #173
Did you run it as administrator?

[2016-06-15 17:37] Keechi88 opened #183 "error in dwt_util.py line 205"
19:34:43 INFO: Python 2.7.11 (v2.7.11:6d1b6a68f775, Dec  5 2015, 20:32:19) [MSC v.1500 32 bit (Intel)] on win32
19:34:43 INFO: ('Windows', 'Keechi-PC', '10', '10.0.10586', 'AMD64', 'Intel64 Family 6 Model 58 Stepping 9, GenuineIntel')
19:34:43 INFO: DisableWinTracking version 3.0.1
19:35:29 INFO: IP Blocker: The IP 134.170.30.202 was successfully blocked.
19:35:29 INFO: IP Blocker: The IP 137.116.

[2016-06-17 08:32] VitaminX4 commented on #180
That  decision is up to you, developers. I would totally love to use such a tool. Many people will

[2016-06-20 02:30] Cephel opened #184 "msvcr100.dll missing"
**INFORMATION:**

* Windows 10 Pro
* 64bit
* Options used: Not applicable

**LOG:**

[code]

Specified library is part of Microsoft Visual C++ 2010 Redistributable, specifically the x86 version. The link to it can be found here: http://www.microsoft.com/download/en/details.aspx?id=5555

Picture for reference:
![](http://i.imgur.com/fNM1T4N.png)

I recently reinstalled Windows 10 and it does not se

[2016-06-20 02:40] 10se1ucgo commented on #184
I don't create those error messages. They're created by the operating system.

[2016-06-20 02:40] #184 closed

[2016-06-20 19:02] jimmyfi opened #185 "Error disabling diag Track"
21:59:50 INFO: Python 2.7.11 (v2.7.11:6d1b6a68f775, Dec  5 2015, 20:32:19) [MSC v.1500 32 bit (Intel)] on win32
21:59:50 INFO: ('Windows', 'WPC', '10', '10.0.10586', 'AMD64', 'Intel64 Family 6 Model 42 Stepping 7, GenuineIntel')

22:00:38 ERROR: DiagTrack: Failed to clear DiagTrack log -- could not take ownership of file
Traceback (most recent call last):
  File "dwt_util.py", line 92, in clear_di

[2016-06-21 21:13] 10se1ucgo opened #186 "Port to C#"
For the sake of my sanity, I plan to port DWT to C#. It'll make it much easier to distribute, as playing around with redist packages and pyinstaller is not fun at all.

[2016-06-23 20:45] Fifteen15Studios commented on #48
I found this Powershell script somewhere, edited it slightly:

`function Enable-Privilege {
  param($Privilege)
  $Definition = @'
using System;
using System.Runtime.InteropServices;
public class AdjPriv {
  [DllImport("advapi32.dll", ExactSpelling = true, SetLastError = true)]
  internal static extern bool AdjustTokenPrivileges(IntPtr htok, bool disall,
    ref TokPriv1Luid newst, int len, IntPtr

[2016-06-24 00:58] BlockWorksDigitalDevelopment commented on #186
Nice

[2016-06-25 20:16] 10se1ucgo commented on #131
As I'm rewritting DWT in C#, I'll be able to create a universal app with these features.

#186

[2016-06-25 23:51] 10se1ucgo commented on #186
Started work on GUI, here's a preview
![GUI Preview](http://i.imgur.com/J2TutYu.png)

[2016-06-26 03:39] 10se1ucgo commented on #186
Might need to restart, forgot that UWP apps are required to be downloaded from the store :( Goodbye, pretty Metro UI.

[2016-06-26 17:07] u55 commented on #186
:-1:  But python is 1000 times easier to read than C#, which is very important for garnering user trust with this sort of potentially-insecure open-source app.

[2016-06-26 21:36] 10se1ucgo commented on #186
And C# is 1000 times easier to distribute. I'm not going to make it harder on myself just because some users are paranoid and can't learn how to read an easy language. It's not C.

[2016-06-26 21:53] 10se1ucgo commented on #186
Well, it's not as pretty as it used to be, but I tried my hardest. Let me know if you guys want something else.
![](http://i.imgur.com/orxqjy6.png)

[2016-06-26 23:33] u55 commented on #186
@10se1ucgo

If you don't want advice or help from the community, that's your prerogative. No need for insults. This is github, not youtube; we are all here to share and help.

I can read C# and C, that's not the point. The point is that: (1) a verbose language, like C/C++/C#/java/etc., is not the best suited for small security-critical apps whose source code should be clear, concise, and easy to v

[2016-06-26 23:40] Didey commented on #186
@u55 he certainly didn't insult you, but I will, retard. You're getting upset because the maintainer of an OPEN SOURCE project wants to change the code. Got a problem with that? Fork the repo. Don't waste time complaining about nonsense.

[2016-06-26 23:46] 10se1ucgo commented on #186
It's not verbose at all, I'm not sure what you're talking about. Also, the code is actually much more clear, as I can move GUI code to a XAML file and have all the actual code in a few files.

ILSpy / JetBrains dotPeek will convert IL code to C#. You can verify the source code that way,  just like you can use pyinstxtractor + uncompyle2.

Use source code directly for Python:

1. Install Python 2.7

[2016-06-27 04:11] u55 commented on #186
@10se1ucgo

Okay. I'll take your word for it. I interpreted "can't learn how to read an easy language" as an insult. Thanks for clearing that up.

If you think you can maintain readability for casual users while porting to C#, then more power to you. This has *not* been my experience with C#, either writing or reading other people's code. I find C# to be a very verbose language.

I am sure it is p

[2016-06-27 04:18] Didey commented on #186
@u55 you think the "casual users" would be concerned with the readability of the code? Most programmers don't care to read the source of much of the software they use. Even so, I personally find C# much easier to read because it doesn't take whitespace into account when compiling, but that's me. Think otherwise? Fork.

[2016-06-27 21:07] 10se1ucgo commented on #186
Pathetic excuse, but good for you.

[2016-06-27 23:35] ascensionra commented on #169
I also have this issue. Did not submit separate issue report.

[2016-06-29 16:32] thegeeex opened #187 "CalledProcessError: Command '['takeown', '/f', ... returned non-zero exit status 1"
Hey!
Thanks for this software, I really hope it works.
During the process, a few commands failed.
Here is the log, I'm running the latest non-beta build of Win 10.

**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise):
- Architecture (32bit/64bit):
- Options used:

**LOG:**

[code]

[2016-07-04 17:15] ckasdf opened #188 "Certain items failed, unexpected functionality loss"
**INFORMATION:**
I ran this as admin, but a few things didn't work, and I had an unexpected functionality loss, both described below.  I used all the options at the top except for "more tracking domains," since skype is used.  Everything but what's listed below completed successfully.

Functionality loss: searching from the start menu for a local program (Firefox, LibreOffice, etc) doesn't work at

[2016-07-05 01:44] thenoncoder commented on #131
Well, the UI has certainly improved from the screenshots that you've posted, but, I still think that it could be improved.

Although when I originally opened this issue I did specify a more of a Metro or Modern as it's called now design language, I didn't really mean specifically that, just a better design overall

The current stable version, which appears to be 2.5, is still usable, it's fine, bu

[2016-07-05 01:54] 10se1ucgo commented on #131
Yeah, the GUI toolkit I'm using is pretty messy. I'm likely going to find another one. Material sounds good.

[2016-07-05 03:35] thenoncoder commented on #131
Well, on an unrelated note, think that you should also add a search bar to filter the options within the app.

And collapsible items. For example, clicking on an option, say, "remove services", expands it to show an explanation of what it does.

I think that this idea is good because if the text is long, then it doesn't show up until you manually click on it.

[2016-07-06 08:29] abdusamed91 opened #189 "Might have used this in the past, Skype not working"
- Windows 10 Enterprise
- 64bit

I don't know which "privacy fix' I used exactly but it's starting to bother me a lot. Skype and onedrive started not to work after the fix.

Is there a way to undo it and reply privacy fix?

[2016-07-06 13:22] 10se1ucgo commented on #189
Try undoing both of the domain blocks + IP block.

[2016-07-06 16:40] Daniil1288 commented on #189
remove `apps.skype.com, ui.skype.com, m.hotmail.com, s.gateway.messenger.live.com` from your hosts file. should work then.

[2016-07-09 19:32] leannecrow commented on #189
It didn't have Skype though in the host file which I guess was removed when I ran an earlier version of the tool. I removed everything related to msedge but still the application doesn't work. Skype is working but msedge isn't

[2016-07-10 00:34] jimbo1qaz opened #190 "Incorrect tab order in the "preinstalled apps" section"
When I tab through the "Built-in Apps" section, the highlight jumps from the bottom of the first column to the top of the third, then jumps around randomly. You should fix the tab order.

[2016-07-10 00:36] jimbo1qaz opened #191 "Not working- HOSTS, Windows Defender, AutoLogger, OneDrive"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise): Home
- Architecture (32bit/64bit): 64
- Options used: Everything checked in the upper panel.

**LOG:**

[code]

I manually "takeown"ed .../etc/hosts and the Autologger folder, because the program was unable to.

The program tried deleting AutoLogger-Diagtrack-Listener.etl, which was not created yet (new laptop, tried to reset).

How do I re

[2016-07-10 04:48] Masterstone opened #192 "“The program can’t start because MSVCR100.dll is missing from your computer.”"
Some users may get this error when running this as administrator.
**“The program can’t start because MSVCR100.dll is missing from your computer.”**

What hides behind this name is the Microsoft Visual C++ Redistributable which can easily be downloaded on the Microsoft website as x86 or x64 edition:

32 bit: http://www.microsoft.com/download/en/details.aspx?id=5555

64 bit: http://www.microsoft.com

[2016-07-10 13:11] vasykiki opened #193 "dwt.py errors"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise): win10 pro
- Architecture (32bit/64bit): x64
- Options used: all disable tracking options but not "block even..., "Windows Defender... nor Uninstall oneDrive.
  Previously I had the v2.5.1 applied w/o problem; I was now upgrading to v3.0.1.
  Btw, thanks a lot for your work!

**LOG:**

[code]

[2016-07-16 12:00] lenisko opened #194 "Windows update - Installation Failure"
**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise): 10 Edu
* Architecture (32bit/64bit): 64bit
* Options used: As shown in log

**PROBLEM:**
[code]

**LOG:**

[code]

Any idea how can I get updates working?

[2016-07-17 09:46] Neopluser commented on #165
Version 3.0.1
Just update win 8.1 to win 10 home.
Run with admin permision, get message "Failed to execute script dwt".

[2016-07-17 18:33] rgl commented on #186
You should make it a CLI application. If you really want a GUI application, make it call the CLI one or call into a shared library between the two.

[2016-07-17 20:54] 10se1ucgo commented on #186
It's not about what "I" want. I want to never develop this garbage again, but I have users to cater to.

[2016-07-18 19:37] Daniil1288 commented on #186
@10se1ucgo, I feel you, and you're pretty much the last person actively developing something that might disable windows 10 tracking (afaik), so, good luck!

[2016-07-21 08:38] FolkertRA opened #196 "Urllib2 does not exist in Python 3.5"
When starting dwt with Python 3.5, it cannot import urllib2 (in dwt_about.py). This is becasue this library has been merged with urllib.
Solution:
change the import statement to
"import urllib.request as urllib2"

[2016-07-21 16:24] 10se1ucgo commented on #196
I backported the tool from Python 3 to 2 because pyinstaller was having issues for a number of people. I'll look into whether or not pyinstaller seems to be fixed now and port it back to Python 3.

[2016-07-21 21:39] tartooth opened #197 "Didn't uninstall OneDrive as indicated by arrows in report. Thank you for this amazing program :D"
17:38:03 INFO: Python 2.7.11 (v2.7.11:6d1b6a68f775, Dec  5 2015, 20:32:19) [MSC v.1500 32 bit (Intel)] on win32
17:38:03 INFO: ('Windows', 'Betty-Fruits', '10', '10.0.10586', 'AMD64', 'Intel64 Family 6 Model 58 Stepping 9, GenuineIntel')
17:38:03 INFO: DisableWinTracking version 3.0.1
17:38:27 INFO: Successfully removed app 'getstarted'
17:38:27 INFO: Successfully removed app 'bingnews'
17:38:28 I

[2016-07-21 21:41] tartooth commented on #197
I did a little digging, and I may have "disabled" one drive, but it's still installed from what I can tell.

May have been just my configuration on my PC.

Again, thank you for this great program!

[2016-07-22 14:41] George-R-O opened #198 "A Couple of Errors"
**INFORMATION:**

* Windows 10 Pro:
* Architecture 64bit:
* Options used:

15:28:11 INFO: Python 2.7.11 (v2.7.11:6d1b6a68f775, Dec  5 2015, 20:32:19) [MSC v.1500 32 bit (Intel)] on win32
15:28:11 INFO: ('Windows', 'Noddy-V', '10', '10.0.10586', 'AMD64', 'Intel64 Family 6 Model 58 Stepping 9, GenuineIntel')
15:28:11 INFO: DisableWinTracking version 3.0.1
15:29:28 INFO: Successfully removed app 'get

[2016-07-22 17:54] bhansley opened #199 "Diagtrack log and Defender Sample Submission problems"
**INFORMATION:**

* Windows Edition (Home/Pro/Enterprise): Ultimate upgraded to... Pro?
* Architecture (32bit/64bit): 64
* Options used: All privacy options. No "remove apps" checked.

**LOG:**

And yes, was run as administrator.

[code]

[2016-07-22 22:43] 10se1ucgo commented on #197
I think it has something to do with the installer exit codes. Normally, a non-zero exit code indicates an error, but considering how Windows goes against all standards it might not be the case for Windows. I have the same error, but OneDrive is indeed off. I think you should be okay.

[2016-07-22 22:48] 10se1ucgo commented on #199
DiagTrack is normal, especially if you've ran the program before.

Windows Defender issue discussed here: #88

[2016-07-22 22:48] #199 closed

[2016-07-22 22:49] 10se1ucgo commented on #198
DiagTrack error is normal, especially if you've ran a similar tweak before.

Windows Defender error discussed here #88

OneDrive error discused here: #197

[2016-07-22 22:49] #198 closed

[2016-07-22 22:52] 10se1ucgo commented on #190
Wish I could, but I can't. The check boxes are generated on the fly.

[2016-07-22 22:52] #190 closed

[2016-07-22 22:53] jimbo1qaz commented on #190
Maybe you could sort apps before inserting them as checkboxes?

Or you could manually insert tab index properties (I'm not sure how Win32 works)?

[2016-07-22 22:55] 10se1ucgo commented on #190
I could, but it would be difficult to add new boxes. I'll look into it in the future. It's not a big deal right now.

[2016-07-23 20:26] dmt0 opened #200 "Failed to clear DiagTrack log"
**INFORMATION:**

* Windows Edition (10 Pro):
* Architecture (64bit):

**LOG:**

[code]

[2016-07-23 20:27] #200 closed

[2016-07-23 20:27] dmt0 commented on #200
duplicate

[2016-07-24 19:51] strikie opened #201 "Yahoo search, Bing and Duckduckgo (and possibly others) not working"
So, when I try to use any of these 3 search engines, the browser gives me an error (ERR_TUNNEL_CONNECTION_FAILED for Chrome). I tried Edge and Firefox as well. I tried to undo all the modifications, but it is still not working.
Any solution? I would really appreciate it! I really like the tool other than that. :)

* Windows Edition (Home/Pro/Enterprise):
* 64bit
* Options used: all except uninstal

[2016-07-24 20:14] #201 closed

[2016-07-26 16:13] lenisko commented on #194
Seems like it wasn't this script fault at all.
I have dual boot and windows partition wasn't set as active, settings this solved problem.

[2016-07-26 16:13] #194 closed

[2016-07-27 19:41] thenoncoder commented on #154
Thanks!

Ever though about Powershell/C++'s `FileSystemWatcher` or equivalents?

It's like Task Scheduler except that it, as far as I understand, only runs when the files/reg keys/etc you choose are changed.

That way, it can keep monitoring reg keys to make sure telemetry reg keys are not enabled in a future system update, and you could add that as an optional feature, not selected by default, bu

[2016-07-27 19:51] ghost opened #202 "Add optional support for Powershell's FileSystemWatcher"
As far as I understand, the `FileSystemWatcher` option in Powershell let you monitor files, in this case it would be, for example, telemetry registry keys, etc, and then perform an action on this, but only if they are modified.

For example, if the script runs in the background, it could monitor if, say, a new Windows Update re-enables those telemetry registry keys, etc, and then automatically dis

[2016-07-28 11:00] raulmora opened #203 "Some errors during first run"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise):
- Architecture (32bit/64bit):
- Options used:

**LOG:**

[code]

[2016-07-28 18:34] 10se1ucgo commented on #203
you didnt fill any of the required fields.

[2016-07-28 22:42] Didey commented on #188
I would assume that it has something to do with Cortana, is it disabled on your machine?

[2016-07-29 11:31] martbase opened #204 "Errors clearing DiagTrack log, modifying Windows Defender Sample Submission key and Windows Defender Spynet key"
**INFORMATION:**
A few errors were encountered while executing dwt 3.0.1
- DiagTrack: Failed to clear DiagTrack log -- could not take ownership of file
- Registry: Unable to mody Windows Defender Sample Submission key.
- Registry: Unable to mody Windows Defender Spynet key.
- Windows Edition (Home/Pro/Enterprise): Win 10 Pro
- Architecture (32bit/64bit): 64bit
- Options used:
  ![dwt-settings](htt

[2016-07-29 14:21] tijoban opened #205 "OneDrive, Defender Issue"
**INFORMATION:**
- Windows Edition (Education N):
- Architecture (64 bit):
- Options used:
  all selected,
  disable tried after uninstall
  **LOG:**

[code]

[2016-07-29 15:03] dowdyph0 opened #206 "Failed OneDrive & DiagTrack uninstall"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise):
- Architecture (32bit/64bit):
- Options used:

**LOG:**

[code]

[2016-07-29 21:22] Janmm14 opened #207 "diagtrack log fle error, defender collection can't be disabled, unable to uninstall onedrive"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise): Home
- Architecture (32bit/64bit): 64bit
- Options used: all options (no app uninstall, services on disable, mode on privacy)

**LOG:**

[code]

[2016-07-29 23:23] aijorgenson opened #208 "Threw some kind of error"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise): Pro
- Architecture (32bit/64bit): 64 bit
- Options used:

**LOG:**

[code]

[2016-07-30 01:38] reporter-dwt opened #209 ""Failed to modify hosts file" ; "Unable to mody Windows Defender Spynet key""
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise): Pro
- Architecture (32bit/64bit): 64bit
- Options used: all 9 boxes at the top were checked. Service method: disable. Mode: privacy.  None of the remove selected apps checkboxes were marked.

Comment: this is a new laptop, with freshly installed Windows 10 Pro, running Bitlocker hardware full disk encryption.   Just before running DWT, I:
1

[2016-07-30 08:41] George-R-O opened #210 "Flash Player not working in Edge"
After installing DisableWinTracking I opened (http://www.bbc.co.uk/programmes/p042tczy) - you may need a UK proxy to open it.

I get the error message "You need to install Flash Player to play this content." and a link below "Download Flash Player now" which opens (https://helpx.adobe.com/flash-player/kb/flash-player-issues-windows-10-edge.html)

Curiously the page opens OK and plays the content i

[2016-07-31 00:18] chrisloup opened #211 "Command line interface"
is there command line interface to run this unattended. I'd like to put it in a new pc setup script.

[2016-07-31 10:39] ejuo opened #212 "error"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise):Pro
- Architecture (32bit/64bit):64
- Options used:

15:35:14 INFO: Python 2.7.11 (v2.7.11:6d1b6a68f775, Dec  5 2015, 20:32:19) [MSC v.1500 32 bit (Intel)] on win32
15:35:14 INFO: ('Windows', 'Ilu-PC', '10', '10.0.10586', 'AMD64', 'Intel64 Family 6 Model 94 Stepping 3, GenuineIntel')
15:35:14 INFO: DisableWinTracking version 3.0.1
15:36:01 I

[2016-08-01 14:13] GrzegorzDrozd opened #213 "Error with 'Block even more tracking domains'"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise):
- Architecture (32bit/64bit):
- Options used: I checked all but during checking "Disable even more tracking domains" I got first error:
  16:07:33 INFO: Python 2.7.11 (v2.7.11:6d1b6a68f775, Dec  5 2015, 20:32:19) [MSC v.1500 32 bit (Intel)] on win32
  16:07:33 INFO: ('Windows', 'grzegorz-PC', '10', '10.0.10586', 'AMD64', 'Intel64 Family 6 M

[2016-08-02 09:44] fredericmohr opened #214 "4 Log Errors: DigiTrack, Windows Defender, OneDrive"
**INFORMATION:**
- Windows Edition: Pro (english), Enterprise LTSB (german)
- Architecture: 64Bit (both)
- Options used: (both times the same)

![screenshot_20160802_113241](https://cloud.githubusercontent.com/assets/5955966/17324043/dc2ce234-58a4-11e6-9e07-9b7c39ea70b3.png)

Log has been the same on both machines as well, the Pro edition ran in virtualbox, the LTSB on a Dell XPS 15. I'm not much

[2016-08-02 09:57] fredericmohr commented on #214
FYI, I don't know how you try to uninstall OneDrive, but this worked for me (manually executed). Maybe the program can use this approach instead.

[code]

[2016-08-02 10:10] fredericmohr commented on #214
Another info, following the tutorial on https://fix10.isleaked.com, I assume that the following is what should theoretically fix the DiagTrack issue.

[code]

Maybe this'll help you with debugging the issues listed above.

[2016-08-02 13:52] joubertvasc opened #215 "Creat app! But there are some erros in log"
**INFORMATION:**
- Windows Edition (Pro):
- Architecture (64bit):
- Options used: used under domain.

**LOG:**

[code]

[2016-08-02 15:29] George-R-O opened #216 "UnDo - Is there such a function?"
Once DisableWinTracking has been run on a PC is there any way to undo all the "fixes" that it applied without re-installing Windows 10?

Clearly I can switch back "on" all the privacy settings that were switched "off" but how can I re-enable all the other background tasks that were disabled, telemetry etc.?

Thanks

[2016-08-02 20:59] rodgerkeesee opened #217 "Services were deleted unexpectedly and local searched stopped working"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise): Windows 10 Pro clean install to a new HDD
- Architecture (32bit/64bit): 64 bit
- Options used: All Windows 10 settings were default before running this tool. I checked all boxes except "even more tracking domains". None of the Built-in Apps boxes are checked. Service Method = Disable because this was a test and I expected to be able to undo

[2016-08-02 21:09] rodgerkeesee commented on #217
I was able to restore the local search capability be disabling all the firewall outbound-block rules and restarting the PC. If I determine precisely what IP caused the problem I will post it here. The problem about the services being removed, instead of disabled, is still a problem.

[2016-08-04 11:58] goodpunk6 opened #218 "dwt"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise):
- Architecture (32bit/64bit):
- Options used:

**LOG:**

[code]

[2016-08-04 16:05] Gabriel51 opened #219 "files"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise):
- Architecture (32bit/64bit):
- Options used:

**LOG:**

[code]

11:00:26 INFO: Python 2.7.11 (v2.7.11:6d1b6a68f775, Dec  5 2015, 20:32:19) [MSC v.1500 32 bit (Intel)] on win32
11:00:26 INFO: ('Windows', 'DESKTOP-5ARKP96', '10', '10.0.10586', 'AMD64', 'Intel64 Family 6 Model 63 Stepping 2, GenuineIntel')
11:00:26 INFO: DisableWinTracking ve

[2016-08-04 16:58] speedt3st commented on #216
There is not any botton actually in this software able to do that. I think it's focusing on figure out help prevent hassles from Windows's tracking services.

[2016-08-05 12:38] UnknowUsername opened #220 "Fatal Error! Failed to execute script dwt"
"Fatal Error! Failed to execute script dwt" any resolve?
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise): Win 10 Pro
- Architecture (32bit/64bit): 64
- Options used: Didnt opens

**LOG:**

[code]

[2016-08-05 12:58] UnknowUsername commented on #220
ok solved :+1:  Install python :D

[2016-08-07 00:06] bzsl opened #221 "Can't shut down computer?"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise): Pro
- Architecture (32bit/64bit): 64
- Options used: All top options except for OneDrive, Disable | Privacy. Removed "Get Office App" "Get Skype App" "Get Started App"

After running Disable Windows 10 Tracking, it seems that the Shut Down command no longer works. Instead, it takes several minutes for the command to register. My best guess

[2016-08-07 21:51] pLesur commented on #221
Same problem here.
Screen just goes black then I am back at the login screen.

[2016-08-07 23:54] nukebloodaxe commented on #221
Sounds curious, just for clarification (for 10se1ucgo) are you using a
local account, or a windows live account to login to your machine?

I've seen this behaviour happen on machines before without
DisableWinTracking, and a clarification here would allow me to narrow
the problem down a bit.

On 07/08/16 12:06, bzsl wrote:

[2016-08-08 04:15] bzsl commented on #221
I set up my account as a local account initially, then joined it to a domain; after the machine was joined, I signed in with a domain account and used DisableWinTracking. For what it's worth, my domain account is associated with my microsoft account on this machine, but I don't remember if I associated it before or after running DisableWinTracking, unfortunately.

[2016-08-11 00:39] gooodmorningopenstack opened #222 "DiagTrack: Failed to clear DiagTrack log -- could not take ownership of file"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise): Pro
- Architecture (32bit/64bit): 64bits
- Options used: clear_diagtrack

**LOG:**

[code]

[2016-08-11 00:42] gooodmorningopenstack commented on #222
Following the 1607 build update, but this may be not related.
The error appears on two of two updated hosts.

[2016-08-11 11:18] Sogl commented on #165
Same here, same error.
Fresh windows 10 installation, run as administrator.
v. 3.0.1

[2016-08-17 12:21] mackonsti commented on #192
Thank you, this worked for me too, on a clean Windows 10 installation. Indeed, even if my Win10 is x64, one needs to setup both x86 and x64 of the MSVCR100.dll redistributable run-time package. Many thanks, mate.

[2016-08-17 21:39] rideekulous opened #223 "W10x64 ENT v1607 (BUILD 14393.51) - Windows Defender ERRORs"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise): 10 Enterprise
- Architecture (32bit/64bit): 64
- Options used: All

**LOG:**

[code]

[2016-08-17 21:41] rideekulous commented on #223
Ran again...

14:40:34 INFO: Python 2.7.11 (v2.7.11:6d1b6a68f775, Dec  5 2015, 20:32:19) [MSC v.1500 32 bit (Intel)] on win32
14:40:34 INFO: ('Windows', 'RDKLS-AORUS-W10', '10', '10.0.14393', 'AMD64', 'Intel64 Family 6 Model 70 Stepping 1, GenuineIntel')
14:40:34 INFO: DisableWinTracking version 3.0.1
14:40:48 INFO: IP Blocker: The IP 134.170.30.202 was successfully blocked.
14:40:48 INFO: IP Bloc

[2016-08-18 16:28] dack commented on #222
On my 1607 system, the file just did not exist (the AutoLogger folder was empty).

[2016-08-25 06:26] vadali opened #224 "Some errors running on a fresh machine"
**INFORMATION:**
Some errors appeared while running, please let me know if you need any further information.
- Windows Edition (Home):
- Architecture (64bit):

[code]

[2016-08-29 02:06] Teumer opened #225 "Anniversary Update Issues"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise): Pro
- Architecture (32bit/64bit): 64
- Options used: Select All Used, Service Method: Disabled

**LOG:**

21:00:24 INFO: Python 2.7.11 (v2.7.11:6d1b6a68f775, Dec  5 2015, 20:32:19) [MSC v.1500 32 bit (Intel)] on win32
21:00:24 INFO: ('Windows', 'Omitted', '10', '10.0.14393', 'AMD64', 'Intel64 Family 6 Model 94 Stepping 3, GenuineIntel')
21:

[2016-08-30 18:12] sh2MAN opened #226 "Error"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise):
- Architecture (32bit/64bit):
- Options used:

**LOG:**

[code]

[2016-08-31 06:22] kevmt commented on #186
Haha! When i saw python, i said here we go again.. but i am happy with the change.. compiled or not i will run it than talk about the source code.. all i care is my privacy & to make windows 10 smooth. Using vscode + wampp w/ 12Gb ram i5 windows 10 still feels slow.. so go figure.

[2016-09-01 20:57] gooodmorningopenstack commented on #222
For me, AutoLogger-Diagtrack-Listener.etl exists in the path and is owned by Administrators group with full NTFS rights.

[2016-09-04 11:01] Snarpix opened #227 "Unexpected errors in log:"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise): Home 1607
- Architecture (32bit/64bit): 64 bit
- Options used: None

**LOG:**
13:58:02 INFO: IP Blocker: The IP 137.116.81.24 was successfully blocked.
13:58:02 INFO: IP Blocker: The IP 157.56.106.189 was successfully blocked.
13:58:02 INFO: IP Blocker: The IP 2.22.61.43 was successfully blocked.
13:58:02 INFO: IP Blocker: The IP 2.22.61.66

[2016-09-04 23:05] jwnorton opened #229 "Bing Search engine stopped working after install"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise): Win10 Pro
- Architecture (32bit/64bit): 64
- Options used:

**LOG:**

[code]

[2016-09-06 05:09] Quest33 opened #230 "3.0.1 / SSL: CERTIFICATE_VERIFY_FAILED"
**INFORMATION:**
download > decompress > right-click on DisableWinTracking.exe > Run as administrator > ERROR!
- Windows Edition (Home/Pro/Enterprise): Enterprise
- Architecture (32bit/64bit): 64
- Options used: NONE

**LOG:**
07:01:15 INFO: Python 2.7.11 (v2.7.11:6d1b6a68f775, Dec  5 2015, 20:32:19) [MSC v.1500 32 bit (Intel)] on win32
07:01:15 INFO: ('Windows', 'XXXXXX', '10', '10.0.14393', 'AMD

[2016-09-06 12:48] htInEdin opened #231 "A few fails"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise): Pro (post Anniversary update)
- Architecture (32bit/64bit): 64
- Options used: Ticked all options in main window, none in Built-in Apps section

May be duplicate of #225

**LOG:**

[code]

[2016-09-08 16:09] chaotic-kitten opened #232 "Looks like access was denied?"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise):
- Architecture (32bit/64bit):
- Options used:

**LOG:**

[code]

[2016-09-10 12:32] richsketchy opened #233 "Replace with a short description of your problem"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise):
- Architecture (32bit/64bit):
- Options used:

**LOG:**

[code]

[2016-09-10 12:33] richsketchy commented on #233
I was wondering if there is a way to fix this or is there a better program to make sure I am safe?

[2016-09-10 14:56] Svetomech commented on #233
To fix what, exactly?

[2016-09-11 00:24] hweidi commented on #233
I believe the tool is no longer working with the latest Windows 10 update

[2016-09-16 18:25] aschmois opened #234 "Some errors in privacy removal"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise):
- Architecture (32bit/64bit):
- Options used:

**LOG:**

[code]

Checked everything except for "Block even more tracking domains"

[2016-09-17 05:21] bduhbya opened #235 "Console log showed handful of errors. Not sure if they are expected errors."
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise):
- Architecture (32bit/64bit):
- Options used:

**LOG:**

[code]

[2016-09-19 20:37] liberatorcnx opened #236 "Windows 10 many errors"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise): Pro
- Architecture (32bit/64bit): 64 bit
- Options used:

**LOG:**

21:31:14 INFO: Python 2.7.11 (v2.7.11:6d1b6a68f775, Dec  5 2015, 20:32:19) [MSC v.1500 32 bit (Intel)] on win32
21:31:14 INFO: ('Windows', 'Acer', '10', '10.0.10586', 'AMD64', 'Intel64 Family 6 Model 58 Stepping 9, GenuineIntel')
21:31:14 INFO: DisableWinTracking version 3.

[2016-09-20 06:12] desmond810508 opened #237 "Issue on win10x64"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise):
- Architecture (32bit/64bit):
- Options used:

**LOG:**

[code]

[2016-09-22 05:38] DeezeNuts opened #238 "error with diagtrack and spynet key"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise):
- Architecture (32bit/64bit):
- Options used:

**LOG:**

[code]

[2016-09-22 13:24] Atavic commented on #236
You just have one single error, regarding _Traceback_ and you didn't take ownership of _AutoLogger-Diagtrack-Listener.etl_

[2016-09-22 13:29] Atavic commented on #238
Seems fixed in the last version:
https://github.com/10se1ucgo/DisableWinTracking/issues/159

[2016-09-22 13:36] Atavic commented on #222
Full of similar reports!

[2016-09-22 13:37] Atavic commented on #216
Backup the registry and the host file before applying.

[2016-09-22 20:07] Noctar commented on #238
same errors with newest version 3.0.1 as the op
Windows 10 Home 64 bit

[2016-09-23 21:13] Atavic commented on #232
No log report.

[2016-09-23 21:15] Atavic commented on #225
Maybe Onedrive was connecting to MS?
Was your PC online while running this?

[2016-09-23 21:20] Atavic commented on #237
`ERROR: DiagTrack: Failed to clear DiagTrack log -- could not take ownership of file
Traceback (most recent call last)` appears in a lot of reports.

For Windows Defender, have you stopped it before running DWT?

[2016-09-23 21:22] Atavic commented on #235
No log report here.

[2016-09-23 23:40] bduhbya commented on #235
My mistake. When I get back to the house I will take a look for the logs and attach them. I think I thought the upload was automated.

[2016-09-25 18:36] kasv opened #239 "Log"
**INFORMATION:**
- Windows Edition Pro/Enterprise): Pro
- Architecture (32bit/64bit): 64bit
- Options used: -

**LOG:**

[code]

[2016-09-28 00:51] GunArm opened #240 ""Trojan" detected"
Has anyone else reported this?  I'm not certain if it's a failed heuristic, MS flinging poo at an app they don't like, or if some other actual malware on my computer has infected this file
![capture](https://cloud.githubusercontent.com/assets/6316933/18896807/5965f4f4-84ea-11e6-92c9-47496ec3f77c.PNG)

I restored the file to check the SHA

MD5 94caac2f248a9d490e7dae02e77effe6
SHA1 e4ae88857a00f7ae0

[2016-09-28 11:49] roastchicken opened #241 "Failed to clear DiagTrack log and uninstall OneDrive"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise): Home
- Architecture (32bit/64bit): 64bit
- Options used: Services, Clear DiagTrack Log, Telemetry, Block Tracking Domains, Windows Defender Collection, WifiSense, Uninstall OneDrive

**LOG:**

[code]

[2016-09-28 15:51] kbandla commented on #240
Just noticed this too. Windows Defender detects this as [Win32/Rundas!plock](https://www.microsoft.com/security/portal/threat/encyclopedia/entry.aspx?name=Trojan%3aWin32%2fRundas!plock&threatid=2147711527).

[2016-09-29 19:53] GiveMeAnthony commented on #240
This project is open-source and it looks fine to me. Windows Defender is probably upset because it tries to take ownership of AutoLogger-Diagtrack-Listener.etl (in order to disable it) which is basically the built-in keylogger for Windows.

[2016-09-29 21:54] 10se1ucgo commented on #240
Hi, sorry for the lack of responses. I haven't really been paying too much to this project (in pursuit of other, more interesting ones).

[The hash does appear to be correct](http://i.imgur.com/PKs37av.png), so it likely is just a false-positive from Windows Defender.

If anyone would like instructions on how to "decompile" the executable and reverse the code to indeed confirm that I haven't tampe

[2016-09-30 17:59] hogopogo opened #242 "3.0.1 Failed to modify hosts file"
**INFORMATION:**
- Windows Edition (Home/Pro/Enterprise):
- Architecture (32bit/64bit):
- Options used:

**LOG:**

20:56:29 INFO: Python 2.7.11 (v2.7.11:6d1b6a68f775, Dec  5 2015, 20:32:19) [MSC v.1500 32 bit (Intel)] on win32
20:56:29 INFO: ('Windows', 'uberbook', '10', '10.0.14393', 'AMD64', 'Intel64 Family 6 Model 58 Stepping 9, GenuineIntel')
20:56:29 INFO: DisableWinTracking version 3.0.1
..